BLOCKQUOTE {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
P {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
LI {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
OL {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
UL {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
PRE {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
TH {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
DIV {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H1 {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2 {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H3 {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H4 {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H5 {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H6 {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H7 {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.blackText {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.footnote {
	FONT-SIZE: xx-small; COLOR: blue; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.footnote:visited {
	FONT-SIZE: xx-small; COLOR: blue; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.footnote:hover {
	COLOR: blue; TEXT-DECORATION: none
}
.articleCopyright {
	FONT-SIZE: xx-small; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
