# 301 Redirects to retain old URLs
Redirect 301 "/12/IDO-Staph_.pptx" "https://buffalo.box.com/shared/static/36x41r07ressfrjz2ap9ezpzi2z4tl4s.pptx"
Redirect 301 "/12/IDO-Staph.pptx" "https://buffalo.box.com/shared/static/j0ihhm02dbecxabk0e62ioao797de64d.pptx"
Redirect 301 "/12/How-to-do-things-with-diagrams-Sep25-2012.pptx" "https://buffalo.box.com/shared/static/xmx4foofmma26stivor990x9eulokeus.pptx"
Redirect 301 "/12/HL7-BFO.ppt" "https://buffalo.box.com/shared/static/zbklybw326kn9umnwdf95lghnta1cshv.ppt"
Redirect 301 "/12/Diehl-GO-CL-ND.pptx" "https://buffalo.box.com/shared/static/s3tohj7mpbiqzgeq58koydhgg2bd4pj9.pptx"
Redirect 301 "/12/ctsa-social-2.pptx" "https://buffalo.box.com/shared/static/xsoxnnd1804c17sa1aiuoejl0gjqam3g.pptx"
Redirect 301 "/12/ctsa-social.pptx" "https://buffalo.box.com/shared/static/6y874vn45crae3vvil4dncr3byuekicl.pptx"
Redirect 301 "/12/MFO-hastings.pptx" "https://buffalo.box.com/shared/static/usqfpdtfeuwhr2jhy5rzxoqcbx4s42yd.pptx"
Redirect 301 "/12/Mind&Language-1-Austria.pptx" "https://buffalo.box.com/shared/static/r4ra3t90bh05868p939salrrw8rtvo8t.pptx"
Redirect 301 "/12/Mind&Language-2-ICF.pptx" "https://buffalo.box.com/shared/static/wahdy705ugro2xcfv5c2c9g90tp5wd5o.pptx"
Redirect 301 "/12/Mind&Language-3-Neuroscience.pptx" "https://buffalo.box.com/shared/static/u5gmbt8v95bhmhtmipvogjlxbtv2ekl1.pptx"
Redirect 301 "/12/Mind&LanguageOct1_2012.pptx" "https://buffalo.box.com/shared/static/3hw1ht6ss2yp6j5eyonbdla72f7uje8m.pptx"
Redirect 301 "/12/Mind&LanguageSep24_2012.pptx" "https://buffalo.box.com/shared/static/ggcf775n1s3klcla098k11tw42sk6trb.pptx"
Redirect 301 "/12/OGMS-Nov2012.pptx" "https://buffalo.box.com/shared/static/hapgawsoz7v3wztmmcjf17zq48udic8q.pptx"
Redirect 301 "/12/Bio-Ontologies-for-Immunology.pptx" "https://buffalo.box.com/shared/static/pijj765u22yczjrjxc9iht85vt81jhgs.pptx"
Redirect 301 "/12/IDO_Nov-5.pdf" "https://buffalo.box.com/shared/static/ij3btxn16pozm88fiiodreur5r6exfmi.pdf"
Redirect 301 "/12/Rudnicki-Information-Ontologies.pptx" "https://buffalo.box.com/shared/static/xfdo9deum4s81cy2xnvne7grzpoz3m04.pptx"
Redirect 301 "/12/Brochhausen.pptx" "https://buffalo.box.com/shared/static/8yyejxf2i9h1d0cwzxsxcgex56oh1plt.pptx"
Redirect 301 "/12/SO3.wmv" "https://buffalo.box.com/shared/static/n1gmrs42z250163kus0trq0b5pppeor5.wmv"
Redirect 301 "/12/SocialOntology-Oct2012.pptx" "https://buffalo.box.com/shared/static/4gp2tcmzb0c7ph43ll6lbtrurjb2vtaw.pptx"
Redirect 301 "/12/immunology_ontology/Alex_Yu.pdf" "https://buffalo.box.com/shared/static/u6gvcje16cnwv2bq691jr0prr1tb0wfk.pdf"
Redirect 301 "/12/immunology_ontology/Butte.pdf" "https://buffalo.box.com/shared/static/ciykjam8hitqmrfsjlmd8984ajbqjyvy.pdf"
Redirect 301 "/12/immunology_ontology/Chan_HIV.pptx" "https://buffalo.box.com/shared/static/mzsraoavd0aubvl8n1v8abcee4e2nnvk.pptx"
Redirect 301 "/12/immunology_ontology/Chan_Networks.pptx" "https://buffalo.box.com/shared/static/v7u7agekhmakwvp4bm0sugz8kvqwhwad.pptx"
Redirect 301 "/12/immunology_ontology/Courtot_CytometryOntologyFramework.pdf" "https://buffalo.box.com/shared/static/cc7r5een770kx84syb309f5zz15i6sog.pdf"
Redirect 301 "/12/immunology_ontology/Cowell.pdf" "https://buffalo.box.com/shared/static/0l3wtnxjs1uls6e7uu7w4411341fedw9.pdf"
Redirect 301 "/12/immunology_ontology/dEustachio.pptx" "https://buffalo.box.com/shared/static/oncwr4vpe906hvx76oxt4sh0dg0g1ogo.pptx"
Redirect 301 "/12/immunology_ontology/Diehl_Autoimmune.pptx" "https://buffalo.box.com/shared/static/kclf6kirdsxsg89n6tucla5d32k8z0g1.pptx"
Redirect 301 "/12/immunology_ontology/Diehl_CL.pptx" "https://buffalo.box.com/shared/static/7mrzz64jp2ei7jfnwq8mzo6ueqxhdpcw.pptx"
Redirect 301 "/12/immunology_ontology/Diehl_GO_IP.pptx" "https://buffalo.box.com/shared/static/lp5d7v0jrkyrjegevlxhbyyx1odyqcm3.pptx"
Redirect 301 "/12/immunology_ontology/Goldfain_IDO-Staph.pptx" "https://buffalo.box.com/shared/static/q7ovevnw7ul94fo88yus6ezq88hsk1hx.pptx"
Redirect 301 "/12/immunology_ontology/He_Flow_Cytometry.pptx" "https://buffalo.box.com/shared/static/yxa3y9rh84ufi2uic5pkx4g1ri9udlx6.pptx"
Redirect 301 "/12/immunology_ontology/He_VO.pptx" "https://buffalo.box.com/shared/static/59n91bzuhpeyk07s74ojnbsia5i7utp3.pptx"
Redirect 301 "/12/immunology_ontology/kotecha.pdf" "https://buffalo.box.com/shared/static/q4yzdpb6hfp6o5lkdh4mrmzw3zbiwhkb.pdf"
Redirect 301 "/12/immunology_ontology/Louis_IDOMAL.ppt" "https://buffalo.box.com/shared/static/wradevy9j67iwebi9sxzncakkule6n2b.ppt"
Redirect 301 "/12/immunology_ontology/Masci%20AM.pdf" "https://buffalo.box.com/shared/static/x070ecweydttii2z2gr7qoqt9v8l20b2.pdf"
Redirect 301 "/12/immunology_ontology/Masci AM.pdf" "https://buffalo.box.com/shared/static/x070ecweydttii2z2gr7qoqt9v8l20b2.pdf"
Redirect 301 "/12/immunology_ontology/Peters.pptx" "https://buffalo.box.com/shared/static/982yxh2tvwmbgeq5sjvp1tbkoo2wy235.pptx"
Redirect 301 "/12/immunology_ontology/smith.pptx" "https://buffalo.box.com/shared/static/2waujrzsos2lxeds241nbq8akhwago7v.pptx"
Redirect 301 "/12/immunology_ontology/Talk_2.ppt" "https://buffalo.box.com/shared/static/5snt8b97qs1yp2vqi5ctm68n9imjgz5o.ppt"
Redirect 301 "/12/immunology_ontology/Wu_PRO.pdf" "https://buffalo.box.com/shared/static/vfi6a19gnk2xx12hg2mbo3dek6m7hkfg.pdf"
Redirect 301 "/12/immunology_ontology/YuLin.pdf" "https://buffalo.box.com/shared/static/xb2x68pl2w3xdncypxnkz3zd06gvrvqz.pdf"