# 301 Redirects to retain old URLs
Redirect 301 "/AppliedOntology.pdf" "https://buffalo.box.com/shared/static/0n8lzeraf6qy8loa8xvb0tw8mn2nn0l6.pdf"
Redirect 301 "/04/DLs_and_Medicine/rector.ppt" "https://buffalo.box.com/shared/static/3ij5ynwq1ab37scajvu1c9oxgg7tfyr0.ppt"
Redirect 301 "/11/Smith1.ppt" "https://buffalo.box.com/shared/static/o1z0f7ai84b8kotakp0p0w7ki7idusfc.ppt"
Redirect 301 "/11/Smith2.ppt" "https://buffalo.box.com/shared/static/rk7tpxp96o2evfy57khjvepapg6i74ta.ppt"
Redirect 301 "/aging/2014/Ontology_of_Aging-Buffalo-August-2014.docx" "https://buffalo.box.com/shared/static/qh6pc0swcwe1v7is5nfykl8r9lxjsji4.docx"
Redirect 301 "/bfo/2013/BFO-2-Smith.ppt" "https://buffalo.box.com/shared/static/t154ruhee107zqi87bsuvitur52moozz.ppt"
Redirect 301 "/bfo/2013/Bittner.pdf" "https://buffalo.box.com/shared/static/iy0csycxv98mnhpjt5vtipxjmzzhvf7l.pdf"
Redirect 301 "/bfo/2013/chebi-and-bfo.pptx" "https://buffalo.box.com/shared/static/l9j0w91q3idhnoclokukqsdz9qgk7e4d.pptx"
Redirect 301 "/bfo/2013/Space-Time-BFO.pptx" "https://buffalo.box.com/shared/static/hvdyxrylvwi1nakok80r074gz2ay5fj5.pptx"
Redirect 301 "/BFO/Graz-Tutorial-2012/BFO-Smith.ppt" "https://buffalo.box.com/shared/static/d2rzb9xgx7vnkeq1itidbzk7iv0kervx.ppt"
Redirect 301 "/concepts/ConceptsandOntologies.pdf" "https://buffalo.box.com/shared/static/4fhleuktatz9lpmp8d3n9woab7r6e12r.pdf"
Redirect 301 "/hl7/Discussion.mp3" "https://buffalo.box.com/shared/static/msqim5l43vitbwz0etxv821q30p2sqld.mp3"
Redirect 301 "/hl7/introduction.mp3" "https://buffalo.box.com/shared/static/xs2hzwt00o9p8ygekjpde6qpnnfxtrqo.mp3"
Redirect 301 "/hl7/Presentation.mp3" "https://buffalo.box.com/shared/static/s1k6ivfeyolq0vddjgqh7wbz2umm9zbm.mp3"
Redirect 301 "/hl7/regenstrief.ppt" "https://buffalo.box.com/shared/static/zegv7t3l9bkmyxcuu0z9f8gvjrysh76f.ppt"
Redirect 301 "/medicine_and_metaphysics/M&MSmith.ppt" "https://buffalo.box.com/shared/static/ngvn75diz3xdlc5nvj8umhrwzcduifwk.ppt"
Redirect 301 "/philosophome/philmap.pdf" "https://buffalo.box.com/shared/static/n3xbp7a5h3p07g02ipjtrt395wohmuba.pdf"
Redirect 301 "/philosophome/philtree.pdf" "https://buffalo.box.com/shared/static/rfw2te10ti7rdk6ksk0dnqb2zef9qqzk.pdf"
Redirect 301 "/smith/ppt/MIE/HL7_RIM_MIE06.ppt" "https://buffalo.box.com/shared/static/7x41qciqy6elthzxt28ttjuslz0gpmup.ppt"
Redirect 301 "/smith/courses03/tb/cohn-geoinformatica.ps" "https://buffalo.box.com/shared/static/fiiwhbxi4h0f1l47enng63gdb33gy6ki.ps"
Redirect 301 "/smith/baarle/coochbehar.gif" "https://buffalo.box.com/shared/static/yc8kept4dkbf6y7e9mnvhvh4fbzilicc.gif"
Redirect 301 "/smith/baarle/military.jpg" "https://buffalo.box.com/shared/static/kptj4777d0i5oqnax0n6g0vjf4wgqvxg.jpg"
Redirect 301 "/smith/heidegger/lied.mp3" "https://buffalo.box.com/shared/static/vihw63dhry2mm3eo1uu46s10uvltwnar.mp3"
Redirect 301 "/smith/BSCV.pdf" "https://buffalo.box.com/shared/static/mxtpaolk8370jktb9e1dmsw8uqtj3x15.pdf"
Redirect 301 "/smith/BSPUBLST.pdf" "https://buffalo.box.com/shared/static/nkgnt6uzwmwrxxvt8rj0osim4ngth05g.pdf"
Redirect 301 "/smith/courses09/Handout.pdf" "https://buffalo.box.com/shared/static/cwwll4ln74lw0h3ndx191hi9r0myytiw.pdf"
Redirect 301 "/smith/students/happold.pdf" "https://buffalo.box.com/shared/static/it0hhp486way92mkbl8dx38vcdj1jflw.pdf"