# 301 Redirects to retain old URLs
Redirect 301 "/AppliedOntology.pdf" "https://buffalo.box.com/shared/static/0n8lzeraf6qy8loa8xvb0tw8mn2nn0l6.pdf"
Redirect 301 "/00/Ontological-Imperialism.ppt" "https://buffalo.box.com/shared/static/t2w97j3coi9o5su1quxbqn7x71smo0qp.ppt"
Redirect 301 "/04/DLs_and_Medicine/rector.ppt" "https://buffalo.box.com/shared/static/3ij5ynwq1ab37scajvu1c9oxgg7tfyr0.ppt"
Redirect 301 "/06/Biomedical_Imaging_Ontologies.pdf" "https://buffalo.box.com/shared/static/5xscscftg6re9l105l2hzvqukssqw9vm.pdf"
Redirect 301 "/07/CTO/Ceusters.ppt" "https://buffalo.box.com/shared/static/l9cmm0db9knjqp09jm4ek3cyappn92xo.ppt"
Redirect 301 "/07/CTO/ceusters.ppt" "https://buffalo.box.com/shared/static/l9cmm0db9knjqp09jm4ek3cyappn92xo.ppt"
Redirect 301 "/07/CTO/Das.pdf" "https://buffalo.box.com/shared/static/1v0cebfnj7oqcmzwcudrzz3vsjoohdgt.pdf"
Redirect 301 "/07/CTO/das.pdf" "https://buffalo.box.com/shared/static/1v0cebfnj7oqcmzwcudrzz3vsjoohdgt.pdf"
Redirect 301 "/07/CTO/Fostel.ppt" "https://buffalo.box.com/shared/static/pbso8exfgynxog5kbfkxxwmmgwj3yc0d.ppt"
Redirect 301 "/07/CTO/fostel.ppt" "https://buffalo.box.com/shared/static/pbso8exfgynxog5kbfkxxwmmgwj3yc0d.ppt"
Redirect 301 "/07/CTO/Graf.ppt" "https://buffalo.box.com/shared/static/cd0d2kb07ccut0v61som8dzi6spm6xhe.ppt"
Redirect 301 "/07/CTO/graf.ppt" "https://buffalo.box.com/shared/static/cd0d2kb07ccut0v61som8dzi6spm6xhe.ppt"
Redirect 301 "/07/CTO/scheuermann.ppt" "https://buffalo.box.com/shared/static/p82hn9l6fhpwfnnsgacwehdr0trvgkps.ppt"
Redirect 301 "/07/CTO/sim.ppt" "https://buffalo.box.com/shared/static/7699wdmgx5n0ag32amo4hnwormtk8ub6.ppt"
Redirect 301 "/07/CTO/Smith.ppt" "https://buffalo.box.com/shared/static/g56apvkmyhxkr1x8m1xl9rmyob1fe1dg.ppt"
Redirect 301 "/07/CTO/smith.ppt" "https://buffalo.box.com/shared/static/g56apvkmyhxkr1x8m1xl9rmyob1fe1dg.ppt"
Redirect 301 "/11/Smith1.ppt" "https://buffalo.box.com/shared/static/o1z0f7ai84b8kotakp0p0w7ki7idusfc.ppt"
Redirect 301 "/11/Smith2.ppt" "https://buffalo.box.com/shared/static/rk7tpxp96o2evfy57khjvepapg6i74ta.ppt"
Redirect 301 "/15/Bootcamp-July7-2015.pptx" "https://buffalo.box.com/shared/static/empszwnviq5b1scaz6bkcxu8wmzeura1.pptx"
Redirect 301 "/15/Common-standard-ontology.pptx" "https://buffalo.box.com/shared/static/ob5keegtdmmdju8mpnh1n9uxhyhhczkr.pptx"
Redirect 301 "/15/Ontology_of_Sensors.ppt" "https://buffalo.box.com/shared/static/xd5tnrwin028iv2b3n4yoi4ik19tfsoi.ppt"
Redirect 301 "/15/Vancouver-2015-philosophome.pptx" "https://buffalo.box.com/shared/static/sldac9ipf40sx8uqw3oq9i2r2xxv339q.pptx"

Redirect 301 "/aging/2014/Ontology_of_Aging-Buffalo-August-2014.docx" "https://buffalo.box.com/shared/static/qh6pc0swcwe1v7is5nfykl8r9lxjsji4.docx"

Redirect 301 "/bfo/2013/BFO-2-Smith.ppt" "https://buffalo.box.com/shared/static/t154ruhee107zqi87bsuvitur52moozz.ppt"
Redirect 301 "/bfo/2013/Bittner.pdf" "https://buffalo.box.com/shared/static/iy0csycxv98mnhpjt5vtipxjmzzhvf7l.pdf"
Redirect 301 "/bfo/2013/chebi-and-bfo.pptx" "https://buffalo.box.com/shared/static/l9j0w91q3idhnoclokukqsdz9qgk7e4d.pptx"
Redirect 301 "/bfo/2013/Space-Time-BFO.pptx" "https://buffalo.box.com/shared/static/hvdyxrylvwi1nakok80r074gz2ay5fj5.pptx"
Redirect 301 "/BFO/Graz-Tutorial-2012/BFO-Smith.ppt" "https://buffalo.box.com/shared/static/d2rzb9xgx7vnkeq1itidbzk7iv0kervx.ppt"

Redirect 301 "/concepts/ConceptsandOntologies.pdf" "https://buffalo.box.com/shared/static/4fhleuktatz9lpmp8d3n9woab7r6e12r.pdf"

Redirect 301 "/DMDII/CHAMP.pptx" "https://buffalo.box.com/shared/static/vljt6gzqxbe4q3e08qfmrrloj11epbt8.pptx"

Redirect 301 "/hl7/Discussion.mp3" "https://buffalo.box.com/shared/static/msqim5l43vitbwz0etxv821q30p2sqld.mp3"
Redirect 301 "/hl7/introduction.mp3" "https://buffalo.box.com/shared/static/xs2hzwt00o9p8ygekjpde6qpnnfxtrqo.mp3"
Redirect 301 "/hl7/Presentation.mp3" "https://buffalo.box.com/shared/static/s1k6ivfeyolq0vddjgqh7wbz2umm9zbm.mp3"
Redirect 301 "/hl7/regenstrief.ppt" "https://buffalo.box.com/shared/static/zegv7t3l9bkmyxcuu0z9f8gvjrysh76f.ppt"

Redirect 301 "/HL7/AMIA_06_Audio/Ceusters.WMA" "https://buffalo.box.com/shared/static/3o8w8ks6gzb9bdvyi2mzpv4u8lpd44ab.wma"
Redirect 301 "/HL7/AMIA_06_Audio/Chute.WMA" "https://buffalo.box.com/shared/static/iyah996obs9q56mdu62ee3dqf01e945a.wma"
Redirect 301 "/HL7/AMIA_06_Audio/Detmer.WMA" "https://buffalo.box.com/shared/static/afs6u640vqf74v8pu1inol2q8zezjer1.wma"
Redirect 301 "/HL7/AMIA_06_Audio/Discussion(Partial).WMA" "https://buffalo.box.com/shared/static/v7jk5ts6begynuypmncpe1z5s15rc7p0.wma"
Redirect 301 "/HL7/AMIA_06_Audio/Mead.WMA" "https://buffalo.box.com/shared/static/aqrznlxo94mt473iwzptlb7wz6e0tguh.wma"
Redirect 301 "/HL7/AMIA_06_Audio/Smith.WMA" "https://buffalo.box.com/shared/static/4vsq0ral501zfdp2gh0tt1hktmkg4486.wma"

Redirect 301 "/medicine_and_metaphysics/M&MSmith.ppt" "https://buffalo.box.com/shared/static/ngvn75diz3xdlc5nvj8umhrwzcduifwk.ppt"

Redirect 301 "/philosophome/philmap.pdf" "https://buffalo.box.com/shared/static/n3xbp7a5h3p07g02ipjtrt395wohmuba.pdf"
Redirect 301 "/philosophome/philtree.pdf" "https://buffalo.box.com/shared/static/rfw2te10ti7rdk6ksk0dnqb2zef9qqzk.pdf"
Redirect 301 "/philosophome/Philosophome.pptx" "https://buffalo.box.com/shared/static/ng4e38kctgqwhe2ptlzqi19ck32noni9.pptx"
Redirect 301 "/philosophome/Philosophome-long.pptx" "https://buffalo.box.com/shared/static/qj3j0nlmmkp7y8bnj1gnogbaey2v6ezg.pptx"
Redirect 301 "/philosophome/Philosophome-oct-2016.pdf" "https://buffalo.box.com/shared/static/x1ziafdadtjhdok7er63ufj8ah7f1rc4.pdf"
