# 301 Redirects to retain old URLs
Redirect 301 "/smith/ppt/Berlin_BFO_and_Disease.ppt" "https://buffalo.box.com/shared/static/hlkw8cbecg9uw00ksn7f0pgp8y1qhdph.ppt"
Redirect 301 "/smith/ppt/Commanding.pptx" "https://buffalo.box.com/shared/static/cwm1x8anaaxgksswes0q9xdtysolemql.pptx"
Redirect 301 "/smith/ppt/Diagrams-and-Time.pptx" "https://buffalo.box.com/shared/static/i96dqx151b5kg3zjusd07236jjr7s1cy.pptx"
Redirect 301 "/smith/ppt/Disease_Trondheim_2011.pptx" "https://buffalo.box.com/shared/static/tken774gpkjnbarpxm9b5l8qrhl8g5ct.pptx"
Redirect 301 "/smith/ppt/Embryontology.pptx" "https://buffalo.box.com/shared/static/7c40y5g23u8y3eplkywgvgehldby8vz7.pptx"
Redirect 301 "/smith/ppt/Envo_Merced_Aug2011.ppt" "https://buffalo.box.com/shared/static/oo63pqp73kfvtl09n3dqrbiro282dcnf.ppt"
Redirect 301 "/smith/ppt/FoL_Kirchberg04Long.ppt" "https://buffalo.box.com/shared/static/qus5wthg5ryrhrda26x2agp9r1224u93.ppt"
Redirect 301 "/smith/ppt/HowToBuildAnOntology_Trondheim-4-2011.ppt" "https://buffalo.box.com/shared/static/clod5i8sz8kyorgyze1vhdd8mmw00d3d.ppt"
Redirect 301 "/smith/ppt/HowToBuildAnOntologyLVCAFOct10.ppt" "https://buffalo.box.com/shared/static/3fyrvlydyqr19175mn0iol4gunnym2r3.ppt"
Redirect 301 "/smith/ppt/Mind&LanguageICBOGraz2012.pptx" "https://buffalo.box.com/shared/static/nqtvzeok9sjpw3jh8de34nzekcea3sjk.pptx"
Redirect 301 "/smith/ppt/Ontology_of_Pain_2011.ppt" "https://buffalo.box.com/shared/static/zptn8e7f3qu1senogdw2vhz5xif7q0fo.ppt"
Redirect 301 "/smith/ppt/Ontology-of-Documents-Albany-October-2010.ppt" "https://buffalo.box.com/shared/static/gznswgvr13tf5p5euout97dwpisf72ex.ppt"
Redirect 301 "/smith/ppt/Ontology-of-Documents-Tokyo_Feb_2011.ppt" "https://buffalo.box.com/shared/static/f9ka3lvpes2d32wxk0e4qei4st7v07y9.ppt"
Redirect 301 "/smith/ppt/os(compact)Koblenz7_2002.ppt" "https://buffalo.box.com/shared/static/5gr5andhg4d7csr8fjg33xnrqoj2mc1y.ppt"
Redirect 301 "/smith/ppt/Philosophome.pptx" "https://buffalo.box.com/shared/static/v6giesd5pytroy0961cr42f7aijnj1n3.pptx"
Redirect 301 "/smith/ppt/Quantities-Lugano-Feb-2017.pptx" "https://buffalo.box.com/shared/static/arga6njtom5v4okn4m0xecygd63eo0pc.pptx"
Redirect 301 "/smith/ppt/Saarbruecken_Nov08_IntroBioOntology.ppt" "https://buffalo.box.com/shared/static/54s37u8n3sev9ytbbq1ezqk2dcwkh7n4.ppt"
Redirect 301 "/smith/ppt/Social_Ontology_Basel_2010.ppt" "https://buffalo.box.com/shared/static/ajjvj4351llswa1ys3i1ashc66du63n2.ppt"
Redirect 301 "/smith/ppt/The_Canonical_Life_Oct06.ppt" "https://buffalo.box.com/shared/static/ay0205sg93dd24n5u0xzckubs74vatcz.ppt"
Redirect 301 "/smith/ppt/Torino.ppt" "https://buffalo.box.com/shared/static/a4k5nhjbh0s7ead801ht8rahaj4kpqml.ppt"
Redirect 301 "/smith/ppt/What_Is_Ontology_Toronto_Nov08.ppt" "https://buffalo.box.com/shared/static/h2feq67pkp3aatp2yh0rp1v4xrf8mwmo.ppt"
Redirect 301 "/smith/ppt/Why computer science needs philosophy.ppt" "https://buffalo.box.com/shared/static/8ltt902mf4tkg8b8xrmquh64o3gti4tc.ppt"
Redirect 301 "/smith/ppt/WhyIamNotaPhilosopherOct06.ppt" "https://buffalo.box.com/shared/static/1j6lsp771dxp9g8cfj23h6nk8fqxq1j7.ppt"
Redirect 301 "/smith/ppt/World_as_Database(Bp).ppt" "https://buffalo.box.com/shared/static/73byojfgxkppleg8rs487umtryqoui1p.ppt"
Redirect 301 "/smith/ppt/BFO/BFO_2.0-Tutorial-September-2012.pptx" "https://buffalo.box.com/shared/static/el160nq77pwgy1tqc9dpbndwer6nr6ye.pptx"
Redirect 301 "/smith/ppt/BFO/BFO_and_Disease.ppt" "https://buffalo.box.com/shared/static/6d8q3rxo0md420u795wufbh3gevj3vnl.ppt"
Redirect 301 "/smith/ppt/BFO/BFO_ICBO.ppt" "https://buffalo.box.com/shared/static/l15p9qchb7hy2qofbdxru4wpd7rogmjw.ppt"
Redirect 301 "/smith/ppt/BFO/BFO_ICBO-2009.ppt" "https://buffalo.box.com/shared/static/azfga5pon9s45av4aimfsy72opdpwzsc.ppt"
Redirect 301 "/smith/ppt/BFO/BFO_Upper_Ontology_Sep_2009.ppt" "https://buffalo.box.com/shared/static/kofuxna067hkswa84icahbcdhe63lit4.ppt"
Redirect 301 "/smith/ppt/BFO/BFO-2-Smith.ppt" "https://buffalo.box.com/shared/static/9ya7savvtnfw4tmdpu0w5dzzo38lheyr.ppt"
Redirect 301 "/smith/ppt/BFO/BFO-Foundry-3-17-2017.pdf" "https://buffalo.box.com/shared/static/tseoxdwnjsd9grjg5k9z3tztkhhulats.pdf"
Redirect 301 "/smith/ppt/BFO/BFO-MIE-May-2015.pptx" "https://buffalo.box.com/shared/static/r6kxlpr4bn9dy3q5u60msla7phr7xutt.pptx"
Redirect 301 "/smith/ppt/BFO/FOUST-BFO.pptx" "https://buffalo.box.com/shared/static/6sxu9pkf58arnyla25d30dp2htp5z25h.pptx"
Redirect 301 "/smith/ppt/BFO/Ontology_for_Developers_NCBO_May2010.ppt" "https://buffalo.box.com/shared/static/9l0o5293e2dptn8mdi8js9jax57rs4zc.ppt"
Redirect 301 "/smith/ppt/BFO/Space-time-BFO.pptx" "https://buffalo.box.com/shared/static/56i4t5dwbfub071jx97stuewzn0w2ppq.pptx"
Redirect 301 "/smith/ppt/BFO/What_Is_Ontology_VPH_Feb2010.ppt" "https://buffalo.box.com/shared/static/8mdgw3sarbx28dpi8n5sx6quz8tpe73r.ppt"
Redirect 301 "/smith/ppt/documents/Deontic-Entities-Geneva-July-2016.pdf" "https://buffalo.box.com/shared/static/ox0rg530n39y9qcjyoapb6fyr3uccd46.pdf"
Redirect 301 "/smith/ppt/documents/Dokumentakte_PaderbornApr07.ppt" "https://buffalo.box.com/shared/static/3aehszp0ofsnwpod6bwcvdksp4n93wmx.ppt"
Redirect 301 "/smith/ppt/documents/Ontology_of_Documents_Oct-05.ppt" "https://buffalo.box.com/shared/static/osauc2ywjm5d4totbxy5f6wy60eib02f.ppt"
Redirect 301 "/smith/ppt/documents/Ontology_of_Documents-short-Mar08.ppt" "https://buffalo.box.com/shared/static/jo94mtjttwkcrpzxqwh291k3i4iy7ry8.ppt"
Redirect 301 "/smith/ppt/documents/Ontology_of_Law_Science_Basel2010.ppt" "https://buffalo.box.com/shared/static/cd68al0wiuu3bdn6l2v8qvnl60tyg3w7.ppt"
Redirect 301 "/smith/ppt/documents/Ontology-of-Documents-Africa-Florence-Dec08.ppt" "https://buffalo.box.com/shared/static/ri0jtx6789glutyw6xap62abqcrz77qj.ppt"
Redirect 301 "/smith/ppt/documents/Ontology-of-Documents-Albany-October-2010.ppt" "https://buffalo.box.com/shared/static/bj5et73xrlxqi2dn01394cytxdovbg3y.ppt"
Redirect 301 "/smith/ppt/documents/Ontology-of-Documents-Sep-06.ppt" "https://buffalo.box.com/shared/static/410um2tuaqv1cpnfe6uvm2ihi1nfkcoo.ppt"
Redirect 301 "/smith/ppt/documents/Ontology-of-Documents-Tokyo_Feb_2011.ppt" "https://buffalo.box.com/shared/static/medsivtus5ndctpow5rr2ynqoku09neb.ppt"
Redirect 301 "/smith/ppt/documents/Social_Ontology_Basel_2010.ppt" "https://buffalo.box.com/shared/static/3pktb4j11hdg65iem0qz4bpmmq1nr52t.ppt"
Redirect 301 "/smith/ppt/EHR/EHRAug06.ppt" "https://buffalo.box.com/shared/static/qdd555kel4ja0pgxa4fp4poewcrflufu.ppt"
Redirect 301 "/smith/ppt/EHR/Future_of_Health_Information_07.ppt" "https://buffalo.box.com/shared/static/ck5co0gd2rzsi72dcdw7brqfx433h8k6.ppt"
Redirect 301 "/smith/ppt/EHR/Future_of_Health_Information_Berlin_April07.ppt" "https://buffalo.box.com/shared/static/zmvggkiyo9oqbmzri6qf2dsqoky184im.ppt"
Redirect 301 "/smith/ppt/EHR/Glory-and-Misery-EHR.pptx" "https://buffalo.box.com/shared/static/daaaurqns3mcagg698yckqowl4zdmlw8.pptx"
Redirect 301 "/smith/ppt/EHR/Mexico_2009_Ontology.ppt" "https://buffalo.box.com/shared/static/16v6nnbhdt010tzln0laedr1t1m2f7jr.ppt"
Redirect 301 "/smith/ppt/EHR/Mexico_2009_ReferentTracking.ppt" "https://buffalo.box.com/shared/static/99mxxonbgvxkt4sgabqdes6j9o1oriox.ppt"
Redirect 301 "/smith/ppt/EHR/MIE_2009_Workshop_epSOS.ppt" "https://buffalo.box.com/shared/static/hp2c6afbcbmsmgp67511d01p6lcywmze.ppt"
Redirect 301 "/smith/ppt/EHR/Ontologies_EHR_Stuttgart_Jun07.ppt" "https://buffalo.box.com/shared/static/tlymso6uvhaxu8m2mrahz9bcjcjzjx1r.ppt"
Redirect 301 "/smith/ppt/EHR/Ontology-Summit-2016.pptx" "https://buffalo.box.com/shared/static/9oadt0pjlk68utia63wtfxen0paig2qg.pptx"
Redirect 301 "/smith/ppt/Immunology/BISC-Science-Meeting-Feb-27-2014.pptx" "https://buffalo.box.com/shared/static/yai3m0yex138ie2upnt67b6l5ejrlidm.pptx"
Redirect 301 "/smith/ppt/Immunology/HowToBuildAnOntology-Immunology-June2013.ppt" "https://buffalo.box.com/shared/static/2jnlaqkvwdkuktj8r6o4ehuvjz3ieyt1.ppt"
Redirect 301 "/smith/ppt/Immunology/IDO-Staph-Goldfain.pptx" "https://buffalo.box.com/shared/static/bu0um71qz6y0vtklt1i71eqqhqpc4pxc.pptx"
Redirect 301 "/smith/ppt/Immunology/ImmPort-Aug-1-2013.pptx" "https://buffalo.box.com/shared/static/kir1fw30updcx4h6z5hpr7u6gtvc4au5.pptx"
Redirect 301 "/smith/ppt/MIE/HL7_RIM_MIE06.ppt" "https://buffalo.box.com/shared/static/7x41qciqy6elthzxt28ttjuslz0gpmup.ppt"