# 301 Redirects to retain old URLs
Redirect 301 "/smith/ppt/MIE/HL7_RIM_MIE06.ppt" "https://buffalo.box.com/shared/static/7x41qciqy6elthzxt28ttjuslz0gpmup.ppt"
Redirect 301 "/smith/ppt/Immunology/BISC-Science-Meeting-Feb-27-2014.pptx" "https://buffalo.box.com/shared/static/yai3m0yex138ie2upnt67b6l5ejrlidm.pptx"
Redirect 301 "/smith/ppt/Immunology/HowToBuildAnOntology-Immunology-June2013.ppt" "https://buffalo.box.com/shared/static/2jnlaqkvwdkuktj8r6o4ehuvjz3ieyt1.ppt"
Redirect 301 "/smith/ppt/Immunology/IDO-Staph-Goldfain.pptx" "https://buffalo.box.com/shared/static/bu0um71qz6y0vtklt1i71eqqhqpc4pxc.pptx"
Redirect 301 "/smith/ppt/Immunology/ImmPort-Aug-1-2013.pptx" "https://buffalo.box.com/shared/static/kir1fw30updcx4h6z5hpr7u6gtvc4au5.pptx"
Redirect 301 "/smith/ppt/EHR/EHRAug06.ppt" "https://buffalo.box.com/shared/static/qdd555kel4ja0pgxa4fp4poewcrflufu.ppt"
Redirect 301 "/smith/ppt/EHR/Future_of_Health_Information_07.ppt" "https://buffalo.box.com/shared/static/ck5co0gd2rzsi72dcdw7brqfx433h8k6.ppt"
Redirect 301 "/smith/ppt/EHR/Future_of_Health_Information_Berlin_April07.ppt" "https://buffalo.box.com/shared/static/zmvggkiyo9oqbmzri6qf2dsqoky184im.ppt"
Redirect 301 "/smith/ppt/EHR/Glory-and-Misery-EHR.pptx" "https://buffalo.box.com/shared/static/daaaurqns3mcagg698yckqowl4zdmlw8.pptx"
Redirect 301 "/smith/ppt/EHR/Mexico_2009_Ontology.ppt" "https://buffalo.box.com/shared/static/16v6nnbhdt010tzln0laedr1t1m2f7jr.ppt"
Redirect 301 "/smith/ppt/EHR/Mexico_2009_ReferentTracking.ppt" "https://buffalo.box.com/shared/static/99mxxonbgvxkt4sgabqdes6j9o1oriox.ppt"
Redirect 301 "/smith/ppt/EHR/MIE_2009_Workshop_epSOS.ppt" "https://buffalo.box.com/shared/static/hp2c6afbcbmsmgp67511d01p6lcywmze.ppt"
Redirect 301 "/smith/ppt/EHR/Ontologies_EHR_Stuttgart_Jun07.ppt" "https://buffalo.box.com/shared/static/tlymso6uvhaxu8m2mrahz9bcjcjzjx1r.ppt"
Redirect 301 "/smith/ppt/EHR/Ontology-Summit-2016.pptx" "https://buffalo.box.com/shared/static/9oadt0pjlk68utia63wtfxen0paig2qg.pptx"