# 301 Redirects to retain old URLs
Redirect 301 "/medo/DiseaseOntology/2006/Ceusters.WMA" "https://buffalo.box.com/shared/static/ov9uwk31x0l3bqn6gmrja5yq6h1kp9dw.wma"
Redirect 301 "/medo/DiseaseOntology/2006/Goldberg.ppt" "https://buffalo.box.com/shared/static/tc9xy7fcibyaibj8re1jlk3utzkh8szi.ppt"
Redirect 301 "/medo/DiseaseOntology/2006/Goldberg.WMA" "https://buffalo.box.com/shared/static/k8kot7jk6l19nt0z78p2vbunef6h9nsj.wma"
Redirect 301 "/medo/DiseaseOntology/2006/Mungall.WMA" "https://buffalo.box.com/shared/static/s220b04ep5rg8oliy1en2lh49jxlh1e9.wma"
Redirect 301 "/medo/DiseaseOntology/2006/Smith.ppt" "https://buffalo.box.com/shared/static/fucm5gna43ndsll6txghl658y6a84r8i.ppt"
Redirect 301 "/medo/DiseaseOntology/2006/Smith.WMA" "https://buffalo.box.com/shared/static/rjn2joa905kw1btfgbruren0hn1n3izu.wma"
Redirect 301 "/medo/DiseaseOntology/2006/Spackman.WMA" "https://buffalo.box.com/shared/static/z5dxjahbuw01g4nio30ty5t0na2hylx7.wma"
Redirect 301 "/medo/WorkshopAMIA2003_files/Audio1.wma" "https://buffalo.box.com/shared/static/6lmzggxwt4nujf1254wq2tmxzty5vcqu.wma"
Redirect 301 "/medo/WorkshopAMIA2003_files/Audio1.wma" "https://buffalo.box.com/shared/static/a5b2n6ecj8f2jzlfvkzniepc3od4ftob.wma"
Redirect 301 "/medo/WorkshopAMIA2003_files/Workshop1.ppt" "https://buffalo.box.com/shared/static/n9hw16xcxcnc197pybc16o2xooxirpju.ppt"
Redirect 301 "/medo/WorkshopAMIA2003_files/Workshop2.ppt" "https://buffalo.box.com/shared/static/sbmbk4nzzl3mjap02shzrdebpxn7d4r3.ppt"
Redirect 301 "/medo/ACAAI-2012.pdf" "https://buffalo.box.com/shared/static/ewkma7d4ab312jhfx4ibc0f8szjt05b9.pdf"
Redirect 301 "/medo/ACGT.pdf" "https://buffalo.box.com/shared/static/5iis3jzbohl9zfqggh56fkzz2skkleat.pdf"
Redirect 301 "/medo/adaptivity.pdf" "https://buffalo.box.com/shared/static/mth7st6uhm6erw8y73fmgqq68v3oucv9.pdf"
Redirect 301 "/medo/biodynamic.pdf" "https://buffalo.box.com/shared/static/q6uk62zpmvbxghp0jpm5rwz5v1cz58cc.pdf"
Redirect 301 "/medo/Biomedical_Terminologies_and_Ontologies.pdf" "https://buffalo.box.com/shared/static/z1jwpiw17g8mz9yg5l55hxohrg0tkzs6.pdf"
Redirect 301 "/medo/BMEO.pdf" "https://buffalo.box.com/shared/static/m246krfm8rmdwmak8v2172r4tqfd6vxz.pdf"
Redirect 301 "/medo/BPO.pdf" "https://buffalo.box.com/shared/static/jxxyutsoob8nenpked0srznzwbrcmwxi.pdf"
Redirect 301 "/medo/CBM_ColonCancerOntology.pdf" "https://buffalo.box.com/shared/static/ffr91d9qud53hqaehv0ctw4t41n32htz.pdf"
Redirect 301 "/medo/Clinical_Guidelines_as_Plans.pdf" "https://buffalo.box.com/shared/static/uoa38thn8h44yu4x9mwr4jea74k9t126.pdf"
Redirect 301 "/medo/CodingAndEHCR.pdf" "https://buffalo.box.com/shared/static/xjf37zhem4ce8moe9ngfhdujzaovhabw.pdf"
Redirect 301 "/medo/Cologne.pdf" "https://buffalo.box.com/shared/static/ukzqxznbf7vkk7lkhevlozaoivchdnco.pdf"
Redirect 301 "/medo/Colon_Carcinoma.pdf" "https://buffalo.box.com/shared/static/vsn6ace74x4vqxoz4859xr4nye14hsic.pdf"
Redirect 301 "/medo/context-guideline.pdf" "https://buffalo.box.com/shared/static/ldgbn7lojwt6418eu713xbowwjnpqt9e.pdf"
Redirect 301 "/medo/Database_Integration.pdf" "https://buffalo.box.com/shared/static/wehdqeffty1ye7xjj9jzhvc8nhz7rv41.pdf"
Redirect 301 "/medo/determination_of.pdf" "https://buffalo.box.com/shared/static/7cswzxklnvh13plomdvsu5c8z6rocw8s.pdf"
Redirect 301 "/medo/Disease_and_Diagnosis.pdf" "https://buffalo.box.com/shared/static/wkdrciull87n4nswiz0bzwvnk51na0sw.pdf"
Redirect 301 "/medo/eHealth.pdf" "https://buffalo.box.com/shared/static/7t7k3jc4h2vi15rv4ic8y84o5afol83k.pdf"
Redirect 301 "/medo/errors.pdf" "https://buffalo.box.com/shared/static/e5xuoybv4od8nxatov9v8o3z2rilh3qp.pdf"
Redirect 301 "/medo/EuroMISE_HL7.pdf" "https://buffalo.box.com/shared/static/fa7gw5bhllfr3yh170ngbzz8675hjgc0.pdf"
Redirect 301 "/medo/Functional_Anatomy.pdf" "https://buffalo.box.com/shared/static/yew1v4o21ay1u4t74a827by0eajtoz51.pdf"
Redirect 301 "/medo/Functions-Workflow.pdf" "https://buffalo.box.com/shared/static/m7aavsmh1bdahbjrir0uqe13ldusojd0.pdf"
Redirect 301 "/medo/Gene_Ontology.pdf" "https://buffalo.box.com/shared/static/qio5m0ue1v2go8zbztzw4pcr0wuo8l7d.pdf"
Redirect 301 "/medo/gmds2004.pdf" "https://buffalo.box.com/shared/static/3snl3pggynrs6u18ou5ecbuflv7wwb4q.pdf"
Redirect 301 "/medo/gmds2004Norm.pdf" "https://buffalo.box.com/shared/static/qjd81r6bo5gkpcr7jh2shqra3hwnve62.pdf"
Redirect 301 "/medo/guidelines.pdf" "https://buffalo.box.com/shared/static/agdzfby5iy2gvohzy0g67os2s2q1yi4o.pdf"
Redirect 301 "/medo/Heller-Herre-Smith-2001.pdf" "https://buffalo.box.com/shared/static/i9gb1e47mh89bgjsfs8habwx3k71ppuj.pdf"
Redirect 301 "/medo/HL7_Vizenor.pdf" "https://buffalo.box.com/shared/static/7o95docme11ttycw01757q1lynm5ioyp.pdf"
Redirect 301 "/medo/HL7RIM.pdf" "https://buffalo.box.com/shared/static/34urucy1htqgl2du67ytduutm8dhe4km.pdf"
Redirect 301 "/medo/ICF.pdf" "https://buffalo.box.com/shared/static/20kn6nmmp0wal1j8fry7nvndi0ug4g13.pdf"
Redirect 301 "/medo/IDO-Chapter.pdf" "https://buffalo.box.com/shared/static/ndgjisa1r5wp06gmw4xkaf5q9b9yfje0.pdf"
Redirect 301 "/medo/IPAP.pdf" "https://buffalo.box.com/shared/static/t6d4tawzptpy6uab7b41jq1fv8jhon02.pdf"
Redirect 301 "/medo/IPAP_Algorithm.pdf" "https://buffalo.box.com/shared/static/z1vuplxocdz8rcd385plsws4ga0oqmou.pdf"
Redirect 301 "/medo/isa.pdf" "https://buffalo.box.com/shared/static/galfdtoflbfdqptnvn72ssd83o1hwo3h.pdf"
Redirect 301 "/medo/jib-1.pdf" "https://buffalo.box.com/shared/static/p8lbu5uwbzg83bces6hu936d1h0c4gpf.pdf"
Redirect 301 "/medo/MedicalWordNet_Coling.pdf" "https://buffalo.box.com/shared/static/gkgw0l1pubaousryls26yk9r2sjmn9y0.pdf"
Redirect 301 "/medo/MIE_2009.pdf" "https://buffalo.box.com/shared/static/04i5xoaq8a12x4m6yu0y5ogqyc8t6x7p.pdf"
Redirect 301 "/medo/Modularity.pdf" "https://buffalo.box.com/shared/static/r5dslfukzuub4jlt15w5lvm4h2zq12cz.pdf"
Redirect 301 "/medo/MRSa.pdf" "https://buffalo.box.com/shared/static/sfzcgt9uk5imyi3wrooeq9mpxjzmu93w.pdf"
Redirect 301 "/medo/MT_EHR.pdf" "https://buffalo.box.com/shared/static/idq9myk9q5rfo4riw9bcgw2rl2wsj2tw.pdf"
Redirect 301 "/medo/NCIT.pdf" "https://buffalo.box.com/shared/static/jeye9z2tmehkgkgem8g6hxbgyh7dpbzd.pdf"
Redirect 301 "/medo/NCITcolon.pdf" "https://buffalo.box.com/shared/static/6tgkl9y4fj3zr7a8aogolpqltfb599a8.pdf"
Redirect 301 "/medo/negative_findings.pdf" "https://buffalo.box.com/shared/static/7tom8kvkqwo7irdp0atdbbrtm46twl33.pdf"
Redirect 301 "/medo/NegativeFindings.pdf" "https://buffalo.box.com/shared/static/ilnnavolpu3jfijy2wdzrypb4ed5qrw8.pdf"
Redirect 301 "/medo/O_ADI.pdf" "https://buffalo.box.com/shared/static/g7la98lqix0xb2v54jqfch2mev0enctv.pdf"
Redirect 301 "/medo/OBS.pdf" "https://buffalo.box.com/shared/static/4vnvo0dye5rxoruwq0an5tc5m8j1ajzy.pdf"
Redirect 301 "/medo/Onto_Epist.pdf" "https://buffalo.box.com/shared/static/j50u1p7qdfyyowe2nhks5lq02fpootyk.pdf"
Redirect 301 "/medo/PathologiesISMB05.pdf" "https://buffalo.box.com/shared/static/xfhvt828t6ei2j731sr80mo63rkdps4q.pdf"
Redirect 301 "/medo/Preoteomics.pdf" "https://buffalo.box.com/shared/static/5co8lsxrpsfv77aypgqd1w6yj3xzsptf.pdf"
Redirect 301 "/medo/Proteomics.pdf" "https://buffalo.box.com/shared/static/ucg0jsj4nfg0uhu3t1na025y94jxjg0v.pdf"
Redirect 301 "/medo/reasoningBT.pdf" "https://buffalo.box.com/shared/static/5werzlk17uwot1ktc200v1k8oq3aduux.pdf"
Redirect 301 "/medo/Recommendations_2005.pdf" "https://buffalo.box.com/shared/static/lp1aubydzupxnxqygt6ivsfru0r0xx1s.pdf"
Redirect 301 "/medo/Referent_Tracking.pdf" "https://buffalo.box.com/shared/static/d8jew6hbkua03cudrcgfsv5utngf5sqf.pdf"
Redirect 301 "/medo/Semantic_Interoperability.pdf" "https://buffalo.box.com/shared/static/aw19k783zp5zn2qspgmmlymxiwg6mulb.pdf"
Redirect 301 "/medo/SNODENT_05.pdf" "https://buffalo.box.com/shared/static/l59qjcp206i8creh4ha8z71zk5iliww4.pdf"
Redirect 301 "/medo/SNOMED.doc" "https://buffalo.box.com/shared/static/1i8sc21gbvoyuhb7c3gfm7m9ey2n7cb0.doc"
Redirect 301 "/medo/SNOMED.pdf" "https://buffalo.box.com/shared/static/ap3bybd7ezutvwz322w0frbdbqzuh0bl.pdf"
Redirect 301 "/medo/SNOMED_aiim.pdf" "https://buffalo.box.com/shared/static/0yjtk44tevn4nb3df15xioanhqr56s1s.pdf"
Redirect 301 "/medo/SnomedGraphs.pdf" "https://buffalo.box.com/shared/static/vutqcbu7m2zz3gndjpcmgup624zqu0lu.pdf"
Redirect 301 "/medo/Subsumption.pdf" "https://buffalo.box.com/shared/static/ikklm17tix75ip7ezhsk6xc1l2vpe34l.pdf"
Redirect 301 "/medo/TEPR2003.pdf" "https://buffalo.box.com/shared/static/ivg9x8m5p2m2lumyfyir4m7dmzdgfa6t.pdf"
Redirect 301 "/medo/time-standard.pdf" "https://buffalo.box.com/shared/static/vc70nuoj6r9avn4hvoxsg9sjlijd0ge0.pdf"
Redirect 301 "/medo/tisp.pdf" "https://buffalo.box.com/shared/static/ohwvwe6omewvibyy7epzo87ygjh11wkb.pdf"
Redirect 301 "/medo/Tracking_referents.pdf" "https://buffalo.box.com/shared/static/q7x6tone78qx5s3n2r5b41mztk6mwg7i.pdf"
Redirect 301 "/medo/UMLS_GO.pdf" "https://buffalo.box.com/shared/static/3g0980ppuxpf3f2grzomyet7ea11c5lm.pdf"
Redirect 301 "/medo/UMLS_SN.pdf" "https://buffalo.box.com/shared/static/tkmei94uamgrsw2u070nkgn56e9lc9zr.pdf"
Redirect 301 "/medo/underspecification.pdf" "https://buffalo.box.com/shared/static/d2sht59o65t4nv5eevw5r4n6q5zpahk1.pdf"
Redirect 301 "/medo/WasDiePhilosophie.pdf" "https://buffalo.box.com/shared/static/tqdbq7ao4o5uzktz3l6l6rrkw320ian2.pdf"
Redirect 301 "/medo/Williams_Disease.pdf" "https://buffalo.box.com/shared/static/fq7ca0zq8v5odcrwn0qcahz4v3w4tmdd.pdf"
Redirect 301 "/medo/WorkflowFramework.pdf" "https://buffalo.box.com/shared/static/me9j4yfm9423a037f6932eai5c8rgerj.pdf"
Redirect 301 "/medo/Wuesteria.pdf" "https://buffalo.box.com/shared/static/6az2dssxhutal1qaemzr8by9zxy7rhzt.pdf"