# 301 Redirects to retain old URLs
Redirect 301 "/smith/ppt/Ontology/AllScience_is_ComputerScience_Bolton_School_Jan2006.ppt" "https://buffalo.box.com/shared/static/1ilzswi0yswp96v0ealm4udk4aes3pk3.ppt"
Redirect 301 "/smith/ppt/Ontology/BFO2004.ppt" "https://buffalo.box.com/shared/static/v6kii7zuprixx3nyi0pi8h40mxjjl0jl.ppt"
Redirect 301 "/smith/ppt/Ontology/Biomereology_Montreal_09-04.ppt" "https://buffalo.box.com/shared/static/3hkpk12va5t01c3paqjjkna6fk40825y.ppt"
Redirect 301 "/smith/ppt/Ontology/Cornucopia(Genf).ppt" "https://buffalo.box.com/shared/static/nht5xc9hvnoy0tjdeks3vbzz4nvj42an.ppt"
Redirect 301 "/smith/ppt/Ontology/Cornucopia(short).ppt" "https://buffalo.box.com/shared/static/76e81at8gd2jw6i9ycdbof5o0pcrugeg.ppt"
Redirect 301 "/smith/ppt/Ontology/Fantology.ppt" "https://buffalo.box.com/shared/static/3tnuojqrxiqlu91n1z4xhx7cuju3pp1v.ppt"
Redirect 301 "/smith/ppt/Ontology/Fantology_Aarhus_Oct_08.ppt" "https://buffalo.box.com/shared/static/u16994avkyzgchlbknv4xaapn4r9h5gc.ppt"
Redirect 301 "/smith/ppt/Ontology/How-to-build-an-ontology-Tokyo-2009.ppt" "https://buffalo.box.com/shared/static/d0ngckudffwx0d4z4759ikfbe82iege4.ppt"
Redirect 301 "/smith/ppt/Ontology/ISO_Stavanger_Apr2007.ppt" "https://buffalo.box.com/shared/static/ccqvicjhq6qhkw32wqf8qq0uw4yrcw5z.ppt"
Redirect 301 "/smith/ppt/Ontology/Ontology(Science)_Oct08.ppt" "https://buffalo.box.com/shared/static/off4rijwetueo50ghgnztpwxqpxf0ow9.ppt"
Redirect 301 "/smith/ppt/Ontology/Ontology_as_Master_Discipline(Prag).ppt" "https://buffalo.box.com/shared/static/t6s4tog4m8fefg56ddty2i59utvnsip6.ppt"
Redirect 301 "/smith/ppt/Ontology/Ontology_of_Personal_Memory_May05.ppt" "https://buffalo.box.com/shared/static/wvfd58djo23qv8rg15jdahqzpz265lb2.ppt"
Redirect 301 "/smith/ppt/Ontology/Ontology_Tutorial_09_04.ppt" "https://buffalo.box.com/shared/static/rr17ps3n49yj46jwpfvjbkk43a1lexz1.ppt"
Redirect 301 "/smith/ppt/Ontology/Ontology_Works_11_04.ppt" "https://buffalo.box.com/shared/static/6ebzaqoxo2123s9k6b9f649t4okkwuei.ppt"
Redirect 301 "/smith/ppt/Ontology/oskar_becker.ppt" "https://buffalo.box.com/shared/static/enuch52ghygc3pxbm00sogxkl1sha948.ppt"
Redirect 301 "/smith/ppt/Ontology/Smith_Stavanger.ppt" "https://buffalo.box.com/shared/static/jvx6h1yx9n26o9pluc8f5r63vlq1fldi.ppt"
Redirect 301 "/smith/ppt/Ontology/Using_Ontologies_For_Annotation_Bflo_Mar08.ppt" "https://buffalo.box.com/shared/static/fq5ublffuehrcnqxg3o77cwxxrd3pwqh.ppt"
Redirect 301 "/smith/ppt/Ontology/What_Is_Ontology_Boston_Jan09.ppt" "https://buffalo.box.com/shared/static/v9kwrtw9gf7mcjcaglnurvum0ex33dop.ppt"
Redirect 301 "/smith/ppt/Ontology/What_Is_Ontology_Buffalo_Feb2010.ppt" "https://buffalo.box.com/shared/static/3kudux0ug0bfwg484hiccf6zg6gjf5kz.ppt"
Redirect 301 "/smith/ppt/Ontology/What_Is_Ontology_Cleveland_Sep08.ppt" "https://buffalo.box.com/shared/static/784f3236l0t9a8zp2vlk0frpya1rvulk.ppt"
Redirect 301 "/smith/ppt/Ontology/What_Is_Ontology_Miami_Mar09.ppt" "https://buffalo.box.com/shared/static/bo7pf1fryzwh9e98yt2upv47cu60yv9g.ppt"
Redirect 301 "/smith/ppt/Ontology/What_Is_Ontology_Toronto_Nov08.ppt" "https://buffalo.box.com/shared/static/oxx7tqgk3u2pd1zysaxlsozezkf69l5q.ppt"
Redirect 301 "/smith/ppt/Ontology/What_Is_Ontology_VPH_Feb2010.ppt" "https://buffalo.box.com/shared/static/84hf0q4cvj625utgspyt798flovvc3np.ppt"