A:active {
	COLOR: #ffcc33; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ffcc33; TEXT-DECORATION: underline
}
A:link {
	COLOR: #ffcc33; TEXT-DECORATION: none
}
A:visited {
	COLOR: #ffcc33
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	
}
A:active {
	
}
A:hover {
	
}
A:link {
	
}
A:visited {
	
}
A:active {
	
}
