# 301 Redirects to retain old URLs
Redirect 301 "/pro/Danford.pptx" "https://buffalo.box.com/shared/static/npu35plwoeekzoy16wwq408n2ern6u22.pptx"
Redirect 301 "/pro/Diehl.pptx" "https://buffalo.box.com/shared/static/7e34vhcdvvf0nzmw0hcyyi57jnv9vhtu.pptx"
Redirect 301 "/pro/imam.pptx" "https://buffalo.box.com/shared/static/qmsakw210p14mk0pyed5wbno1yuxwx7w.pptx"
Redirect 301 "/pro/Reactome.pptx" "https://buffalo.box.com/shared/static/89qilkzqfj6c18bt1g7tjybmiky715xk.pptx"
Redirect 301 "/pro/Smith.ppt" "https://buffalo.box.com/shared/static/xd8qmk347gmfemcn1z63uwzbkj4sim6m.ppt"
Redirect 301 "/pro/smith.ppt" "https://buffalo.box.com/shared/static/xd8qmk347gmfemcn1z63uwzbkj4sim6m.ppt"
Redirect 301 "/pro/Walsh.ppt" "https://buffalo.box.com/shared/static/d3l0c648sukbipbzue0o5pzcz2y0zasq.ppt"
Redirect 301 "/pro/Wolfe.ppt" "https://buffalo.box.com/shared/static/aws36hsv4hr9r0mo6w290linhe3q1df7.ppt"
Redirect 301 "/pro/Wu.pdf" "https://buffalo.box.com/shared/static/ctxhqxwwf90evvalajyb1whpputt5qwb.pdf"