# 301 Redirects to retain old URLs
Redirect 301 "/smith/courses16/Analytic_Metaphysics/1.ppt" "https://buffalo.box.com/shared/static/m23p73z18xl58nuj7yq8edwzkqsdloom.ppt"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/2.pdf" "https://buffalo.box.com/shared/static/sdjzxw03uogmdsn69qbfz40kp77xs8vj.pdf"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/3.pdf" "https://buffalo.box.com/shared/static/h28ty8wctvrl00wx5om9m0525gp6d7ks.pdf"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/4.pdf" "https://buffalo.box.com/shared/static/pgukgyrh69fz7u8s7dqaxo6dd6h2x3fo.pdf"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/5.pptx" "https://buffalo.box.com/shared/static/mzwxv32aceqttr95a8g602miqx2zilhi.pptx"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/6.pptx" "https://buffalo.box.com/shared/static/xhjie952v931mrgris03xagmj9naihw4.pptx"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/7.pdf" "https://buffalo.box.com/shared/static/j5rqnjnjic0b1ehf4q1vj4y9bnumtcqv.pdf"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/7.pptx" "https://buffalo.box.com/shared/static/472y4wr7ruk4ede3sdy2rex2altllxjk.pptx"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/8.pdf" "https://buffalo.box.com/shared/static/mm69hg6qk0qh17c4ivle0dehj2k5qjgf.pdf"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/8.ppt" "https://buffalo.box.com/shared/static/3rypnmzwcixakvafxapfquy9zlbzfx40.ppt"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/9.ppt" "https://buffalo.box.com/shared/static/i022zkaf384ehna1jklis4vjggv8etwl.ppt"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/10.pdf" "https://buffalo.box.com/shared/static/o2j7a3kivgkuibc5ig0dy9rjsjl2eadv.pdf"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/11.pdf" "https://buffalo.box.com/shared/static/bhkkcv05n5whekn8sz9o70vbi6cfflmz.pdf"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/Benson.pptx" "https://buffalo.box.com/shared/static/7q8aawcu2n6d2u4sorfz9rk89ma6uxps.pptx"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/Beverley.pptx" "https://buffalo.box.com/shared/static/456qa9g58q8dvanwxsy8bfwsbt7m2329.pptx"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/Burke.pptx" "https://buffalo.box.com/shared/static/bnxf71ar67g5q1rf35owaacm74xu4yqi.pptx"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/Cui.pptx" "https://buffalo.box.com/shared/static/ha2bqhcxi0okzct7ytabjmd8c6c12amw.pptx"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/Donohue.pptx" "https://buffalo.box.com/shared/static/m3g1vyuyp2529fppcpd7dy9peydkyiuu.pptx"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/Franda.pptx" "https://buffalo.box.com/shared/static/4mep4az81zdgrhnn16umvzfn5rul2yrc.pptx"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/Kang.pptx" "https://buffalo.box.com/shared/static/1hshj1ma9xowmehxliabjky3pzdguj31.pptx"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/Otte.pptx" "https://buffalo.box.com/shared/static/r4lf7tezjyo30lf44d93y18ngyqml6dg.pptx"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/Sculley.pptx" "https://buffalo.box.com/shared/static/knft8fos294bexhwuhsf8glwu9jpdb30.pptx"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/Shaffer.pptx" "https://buffalo.box.com/shared/static/69k4sru7t2wqnogxp5d0xwiklilskv7r.pptx"
Redirect 301 "/smith/courses16/Analytic_Metaphysics/Toyoshima.pptx" "https://buffalo.box.com/shared/static/h1be1qoials7a8yd6brs32dlwkqsjbx3.pptx"