# 301 Redirects to retain old URLs
Redirect 301 "/IMMPORT/UB-IMMPORT.pdf" "https://buffalo.box.com/shared/static/ccjghwdf3hu8wrzxafr489trcfuyyf66.pdf"
Redirect 301 "/IMMPORT/ImmPort-OBO-Foundry-Cytokines.pptx" "https://buffalo.box.com/shared/static/ru6vjyjybk7ff3seo5vnkfs1qegl9fxb.pptx"