# 301 Redirects to retain old URLs
Redirect 301 "/smith/Dissertation/BSDissAbstract-Contents.pdf" "https://buffalo.box.com/shared/static/nn0d9jpggrprukie7onag9eku0rwaz1m.pdf"
Redirect 301 "/smith/Dissertation/BSDissCh1.pdf" "https://buffalo.box.com/shared/static/3hup6fa64lupyjeob2bv6bie85jzkogk.pdf"
Redirect 301 "/smith/Dissertation/BSDissCh2.pdf" "https://buffalo.box.com/shared/static/jim9drrl0oss6fjshiqo14xd2zxkji6h.pdf"
Redirect 301 "/smith/Dissertation/BSDissCh3.pdf" "https://buffalo.box.com/shared/static/dfcqnlejdt0b845mof7ncyubi4sx448h.pdf"
Redirect 301 "/smith/Dissertation/BSDissCh4.pdf" "https://buffalo.box.com/shared/static/sgubc6oclcp1z44qdr7js6qqpelf9uzh.pdf"
Redirect 301 "/smith/Dissertation/BSDissCh5.pdf" "https://buffalo.box.com/shared/static/yivcv54cfb8apomh7auubnavllsnvlvu.pdf"
Redirect 301 "/smith/Dissertation/BSDissCh6.pdf" "https://buffalo.box.com/shared/static/8zfstdk1y29nb76437snil85hvjmqnxe.pdf"
Redirect 301 "/smith/Dissertation/BSDissCh7.pdf" "https://buffalo.box.com/shared/static/8ny45p61ujn3ohterma8ivy53tzghf6i.pdf"
Redirect 301 "/smith/Dissertation/BSDissCh8.pdf" "https://buffalo.box.com/shared/static/3x3mwuco1dl23raax9mykcc7143p6muj.pdf"
Redirect 301 "/smith/Dissertation/BSDissCh9.pdf" "https://buffalo.box.com/shared/static/dni4nyhgq2qw8yufmualaqh6j8kpsfct.pdf"
Redirect 301 "/smith/Dissertation/BSDissCh10.pdf" "https://buffalo.box.com/shared/static/rwacr0ng9chhc40m5s12l7gcnwpp9rkx.pdf"
Redirect 301 "/smith/Dissertation/BSDissCh11.pdf" "https://buffalo.box.com/shared/static/3nuxak9ekxoltf415avlrrx3z9rgid6r.pdf"
Redirect 301 "/smith/Dissertation/BSDissCh12.pdf" "https://buffalo.box.com/shared/static/cu2sol61xio4ahgo15hp0nw50khsgd9w.pdf"
Redirect 301 "/smith/Dissertation/BSDissNotes-Abrevs.pdf" "https://buffalo.box.com/shared/static/mpfmaug6ijqav1a7tk2f5ijiw77l6eet.pdf"
Redirect 301 "/smith/Dissertation/BSDisstBibliography.pdf" "https://buffalo.box.com/shared/static/j62pqr9ojqeq8z9yhfnsj9mgwyenj2mj.pdf"