# 301 Redirects to retain old URLs
Redirect 301 "/03/moccsr/Lempke.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Lempke.pdf"
Redirect 301 "/03/moccsr/Cabrera.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Cabrera.pdf"
Redirect 301 "/03/moccsr/Kasten.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Kasten.pdf"
Redirect 301 "/03/moccsr/Stubkjaer.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Stubkjaer.pdf"
Redirect 301 "/03/moccsr/Nemo.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Nemo.pdf"
Redirect 301 "/03/moccsr/Shearmur.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Shearmur.pdf"
Redirect 301 "/03/moccsr/Braguinsky.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Braguinsky.pdf"
Redirect 301 "/03/moccsr/Palmer.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Palmer.pdf"
Redirect 301 "/03/moccsr/Ehrlich.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Ehrlich.pdf"
Redirect 301 "/03/moccsr/Frank.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Frank.pdf"
Redirect 301 "/03/moccsr/Unruh.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Unruh.pdf"
Redirect 301 "/03/moccsr/Fitzpatrick.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Fitzpatrick.pdf"
Redirect 301 "/03/moccsr/Meidinger.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Meidinger.pdf"
Redirect 301 "/03/moccsr/Koepsell.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Koepsell.pdf"
