# 301 Redirects to retain old URLs
Redirect 301 "/03/moccsr/Lempke.pdf" "https://buffalo.box.com/shared/static/cudgan6tyrn2vqyaep3ap61h2mvx8vpu.pdf"
Redirect 301 "/03/moccsr/Cabrera.pdf" "https://buffalo.box.com/shared/static/7kvujmzl2i5q7vowp7utj80o02h9kygn.pdf"
Redirect 301 "/03/moccsr/Kasten.pdf" "https://buffalo.box.com/shared/static/1dh28vozy0fds9z88216myz19i8fbf83.pdf"
Redirect 301 "/03/moccsr/Stubkjaer.pdf" "https://buffalo.box.com/shared/static/fvkb98y5ka3jyees3se4xwkv6kfq9ccu.pdf"
Redirect 301 "/03/moccsr/Nemo.pdf" "https://buffalo.box.com/shared/static/zoaibcl6o58rktgb1ihxf8gufrcit10y.pdf"
Redirect 301 "/03/moccsr/Shearmur.pdf" "https://buffalo.box.com/shared/static/cy5c3o8s1f159dqg4aqac34vcvjxvc3x.pdf"
Redirect 301 "/03/moccsr/Braguinsky.pdf" "https://buffalo.box.com/shared/static/dhb44fyczri59gzmjmmdk3kb0yxukgzv.pdf"
Redirect 301 "/03/moccsr/Palmer.pdf" "https://buffalo.box.com/shared/static/vniq384zdaup139x7aefl751lrlyduub.pdf"
Redirect 301 "/03/moccsr/Ehrlich.pdf" "https://buffalo.box.com/shared/static/9udlk884sius52y99stx7ts7epdyy0qw.pdf"
Redirect 301 "/03/moccsr/Frank.pdf" "https://buffalo.box.com/shared/static/6nad2c99qmy8ymhs0nyu307luz1j4hf0.pdf"
Redirect 301 "/03/moccsr/Unruh.pdf" "https://buffalo.box.com/shared/static/73p9mxzc3t692eulardcqe19m33bx6vm.pdf"
Redirect 301 "/03/moccsr/Fitzpatrick.pdf" "https://buffalo.box.com/shared/static/0w0265470bm0g0jvo8z0vhzqw0qt405x.pdf"
Redirect 301 "/03/moccsr/Meidinger.pdf" "https://buffalo.box.com/shared/static/qaceqz1cxghtz4o27h02cutn523hbmcb.pdf"
Redirect 301 "/03/moccsr/Koepsell.pdf" "https://buffalo.box.com/shared/static/itu1vnisuh84cpyptj9lb1g6bvf880ey.pdf"
