BODY {
	MARGIN-LEFT: 0px; COLOR: black
}
.fieldtext {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 12px; FONT-FAMILY: verdana, tahoma, geneva, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
FONT.covertype {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; TEXT-DECORATION: none
}
FONT.bluecoltype {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 12px; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; TEXT-DECORATION: none
}
FONT.bottomtype {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 12px; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; TEXT-DECORATION: none
}
FONT.navlinks {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #333328; LINE-HEIGHT: 13px; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; TEXT-DECORATION: none
}
FONT.rubric {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; TEXT-DECORATION: none
}
FONT.covernew {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ff3333; LINE-HEIGHT: 12px; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; TEXT-DECORATION: none
}
FONT.coverdate {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #cc6600; LINE-HEIGHT: 12px; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; TEXT-DECORATION: none
}
FONT.audio {
	COLOR: #666666
}
FONT.subheads {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; LINE-HEIGHT: 11px; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; TEXT-DECORATION: none
}
FONT.arttype {
	FONT-FAMILY: times new roman
}
FONT.artsans {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; TEXT-DECORATION: none
}
FONT.magrub {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; TEXT-TRANSFORM: uppercase; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; TEXT-DECORATION: none
}
FONT.magsubrub {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #000000; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; TEXT-DECORATION: none
}
FONT.artsansblue {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #23238e; LINE-HEIGHT: 12px; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; TEXT-DECORATION: none
}
FONT.artsansgray {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #666666; LINE-HEIGHT: 12px; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; TEXT-DECORATION: none
}
FONT.artsansbig {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; TEXT-DECORATION: none
}
FONT.artsans12 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; TEXT-DECORATION: none
}
FONT.artheadline {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #000000; LINE-HEIGHT: 24px; FONT-FAMILY: georgia, times new roman, verdana; FONT-VARIANT: small-caps
}
FONT.artheadlinenocaps {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #000000; LINE-HEIGHT: 24px; FONT-FAMILY: georgia, times new roman, verdana
}
FONT.artunderline {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-STYLE: italic; FONT-FAMILY: georgia, times new roman, verdana
}
FONT.romtxt {
	FONT-STYLE: normal
}
FONT.itatxt {
	FONT-STYLE: italic
}
FONT.avail {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 13px; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: none
}
FONT.unavail {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #888888; LINE-HEIGHT: 13px; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: none
}
FONT.artbyline {
	FONT-SIZE: 13px; COLOR: #000000; LINE-HEIGHT: 9px; FONT-FAMILY: georgia, times new roman, verdana; LETTER-SPACING: 1px; FONT-VARIANT: small-caps
}
FONT.artsectionhead {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: georgia, times new roman, verdana; FONT-VARIANT: small-caps
}
FONT.divider {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: georgia, times new roman, verdana; LETTER-SPACING: 2px
}
FONT.largecap {
	FONT-SIZE: 24px; LINE-HEIGHT: 16px
}
FONT.lbyline {
	FONT-WEIGHT: normal
}
FONT.unbrub {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; TEXT-TRANSFORM: uppercase; COLOR: #000000; LINE-HEIGHT: 12px; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; LETTER-SPACING: 2px; TEXT-DECORATION: none
}
FONT.unbbyline {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; TEXT-TRANSFORM: none; COLOR: #000000; LINE-HEIGHT: 12px; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
FONT.unbbigbyline {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: none; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
FONT.unbunderline {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; TEXT-TRANSFORM: none; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: verdana, arial, geneva, helvetica, sans-serif; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
A.unb:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #660000; LINE-HEIGHT: 15px; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: none
}
A.unb:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: underline
}
A.unb:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cc0000; LINE-HEIGHT: 15px; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: underline
}
A.unb:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #996666; LINE-HEIGHT: 15px; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: none
}
A.unb:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: underline
}
A.hwe:link {
	FONT-WEIGHT: bold; COLOR: #990000; TEXT-DECORATION: none
}
A.hwe:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.hwe:active {
	FONT-WEIGHT: bold; COLOR: #cc0000; TEXT-DECORATION: underline
}
A.hwe:visited {
	FONT-WEIGHT: bold; COLOR: #990000; TEXT-DECORATION: none
}
A.hwe:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.unbs:link {
	FONT-WEIGHT: bold; COLOR: #660000; TEXT-DECORATION: none
}
A.unbs:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.unbs:active {
	FONT-WEIGHT: bold; COLOR: #cc0000; TEXT-DECORATION: underline
}
A.unbs:visited {
	FONT-WEIGHT: bold; COLOR: #996666; TEXT-DECORATION: none
}
A.unbs:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.blu:link {
	FONT-WEIGHT: bold; COLOR: #000033; TEXT-DECORATION: none
}
A.blu:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.blu:active {
	FONT-WEIGHT: bold; COLOR: #000099; TEXT-DECORATION: underline
}
A.blu:visited {
	FONT-WEIGHT: bold; COLOR: #444477; TEXT-DECORATION: none
}
A.blu:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.bluh:link {
	FONT-WEIGHT: bold; COLOR: #000033; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: none
}
A.bluh:hover {
	FONT-WEIGHT: bold; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: underline
}
A.bluh:active {
	FONT-WEIGHT: bold; COLOR: #000099; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: underline
}
A.bluh:visited {
	FONT-WEIGHT: bold; COLOR: #444477; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: none
}
A.bluh:hover {
	FONT-WEIGHT: bold; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: underline
}
A.mag:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #003333; LINE-HEIGHT: 13px; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: none
}
A.mag:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; LINE-HEIGHT: 13px; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: underline
}
A.mag:active {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #009999; LINE-HEIGHT: 13px; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: underline
}
A.mag:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #447777; LINE-HEIGHT: 13px; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: none
}
A.mag:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; LINE-HEIGHT: 13px; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: underline
}
A.magd:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003333; LINE-HEIGHT: 15px; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: none
}
A.magd:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: underline
}
A.magd:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #009999; LINE-HEIGHT: 15px; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: underline
}
A.magd:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #447777; LINE-HEIGHT: 15px; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: none
}
A.magd:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: georgia, verdana, times new roman; TEXT-DECORATION: underline
}
A.arc:link {
	FONT-WEIGHT: bold; COLOR: #003333; TEXT-DECORATION: none
}
A.arc:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.arc:active {
	FONT-WEIGHT: bold; COLOR: #009999; TEXT-DECORATION: underline
}
A.arc:visited {
	FONT-WEIGHT: bold; COLOR: #447777; TEXT-DECORATION: none
}
A.arc:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.leftnav:link {
	FONT-WEIGHT: bold; COLOR: #333328; TEXT-DECORATION: none
}
A.leftnav:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.leftnav:active {
	FONT-WEIGHT: bold; COLOR: #333328; TEXT-DECORATION: underline
}
A.leftnav:visited {
	FONT-WEIGHT: bold; COLOR: #333328; TEXT-DECORATION: none
}
A.leftnav:hover {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.lnavart:link {
	FONT-WEIGHT: normal; COLOR: #003333; TEXT-DECORATION: none
}
A.lnavart:hover {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A.lnavart:active {
	FONT-WEIGHT: normal; COLOR: #009999; TEXT-DECORATION: underline
}
A.lnavart:visited {
	FONT-WEIGHT: normal; COLOR: #003333; TEXT-DECORATION: none
}
A.lnavart:hover {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A.lnavunb:link {
	FONT-WEIGHT: normal; COLOR: #660000; TEXT-DECORATION: none
}
A.lnavunb:hover {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A.lnavunb:active {
	FONT-WEIGHT: normal; COLOR: #cc0000; TEXT-DECORATION: underline
}
A.lnavunb:visited {
	FONT-WEIGHT: normal; COLOR: #660000; TEXT-DECORATION: none
}
A.lnavunb:hover {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A.magbodylink:link {
	FONT-WEIGHT: normal; COLOR: #003333; TEXT-DECORATION: underline
}
A.magbodylink:hover {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A.magbodylink:active {
	FONT-WEIGHT: normal; COLOR: #009999; TEXT-DECORATION: underline
}
A.magbodylink:visited {
	FONT-WEIGHT: normal; COLOR: #447777; TEXT-DECORATION: underline
}
A.magbodylink:hover {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A.unbbodylink:link {
	FONT-WEIGHT: normal; COLOR: #003333; TEXT-DECORATION: underline
}
A.unbbodylink:hover {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
A.unbbodylink:active {
	FONT-WEIGHT: normal; COLOR: #009999; TEXT-DECORATION: underline
}
A.unbbodylink:visited {
	FONT-WEIGHT: normal; COLOR: #447777; TEXT-DECORATION: underline
}
A.unbbodylink:hover {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
IMG.right {
	FLOAT: right; MARGIN: 10px 0px 10px 15px
}
IMG.righttop {
	FLOAT: right; MARGIN: 0px 0px 10px 15px
}
IMG.left {
	FLOAT: left; MARGIN: 10px 10px 10px 0px
}
IMG.lefttop {
	FLOAT: left; MARGIN: 0px 10px 10px 0px
}
DIV.righttopbook {
	PADDING-RIGHT: 0px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 8px; MARGIN: 0px 0px 15px 15px; WIDTH: 150px; PADDING-TOP: 8px; BORDER-BOTTOM: #aaaaaa 1px solid; TEXT-ALIGN: center
}
DIV.righttoplink {
	PADDING-RIGHT: 0px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 8px; MARGIN: 0px 0px 15px 15px; WIDTH: 180px; PADDING-TOP: 8px; BORDER-BOTTOM: #aaaaaa 1px solid; TEXT-ALIGN: left
}
