# 301 Redirects to retain old URLs
Redirect 301 "/08/networks/Antezana.ppt" "https://buffalo.box.com/shared/static/8pd40eedrbyiu8euobivjhf6zowum1h5.ppt"
Redirect 301 "/08/networks/fukuda.pdf" "https://buffalo.box.com/shared/static/ww4w4fbku57k024wvtnhkxmbwlri5tpl.pdf"
Redirect 301 "/08/networks/Gopinathrao.ppt" "https://buffalo.box.com/shared/static/lq22m82n54wmmlj0fzqaf8unwmwiiukr.ppt"
Redirect 301 "/08/networks/Gough.ppt" "https://buffalo.box.com/shared/static/5ati9a5yzu9hzhyrsofy1owjkog5cn62.ppt"
Redirect 301 "/08/networks/krummenacker.ppt" "https://buffalo.box.com/shared/static/q1j2pik52xy9pkb6kr2btt1s1i7ozndf.ppt"
Redirect 301 "/08/networks/Lussier.pdf" "https://buffalo.box.com/shared/static/idbiqqw6gcktdh11g5f5glhsabryke2h.pdf"
Redirect 301 "/08/networks/mejino.ppt" "https://buffalo.box.com/shared/static/12nc5o6fbff4am65vk5i3ob1n5k5dg4u.ppt"
Redirect 301 "/08/networks/Rzhetsky.ppt" "https://buffalo.box.com/shared/static/jpcwptg3fm0klg0yy0acvxpfyj1laz0q.ppt"
Redirect 301 "/08/networks/Scheuermann.ppt" "https://buffalo.box.com/shared/static/jpcwptg3fm0klg0yy0acvxpfyj1laz0q.ppt"
Redirect 301 "/08/networks/Shah.ppt" "https://buffalo.box.com/shared/static/zofcsfr3y3jhv26ywiobxact43f3epqe.ppt"
Redirect 301 "/08/networks/smith.ppt" "/08/networks/Smith.ppt"
Redirect 301 "/08/networks/Smith2.ppt" "https://buffalo.box.com/shared/static/koe7g0d2ncrr9js1f997ffsfgvlni9nc.ppt"
Redirect 301 "/08/networks/smith2.ppt" "https://buffalo.box.com/shared/static/koe7g0d2ncrr9js1f997ffsfgvlni9nc.ppt"
Redirect 301 "/08/networks/Splendiani.pdf" "https://buffalo.box.com/shared/static/9h55cxwd6mcdmuvsuuzew6cijazea2qp.pdf"
Redirect 301 "/08/phenotype/ARABANDI.pdf" "https://buffalo.box.com/shared/static/fqq0zhe79dhevm0cynxwl9k8uy2b4cwu.pdf"
Redirect 301 "/08/phenotype/CHUTE.ppt" "https://buffalo.box.com/shared/static/jdo2tjuwo9enusnlhso2pw3twk9dw5ik.ppt"
Redirect 301 "/08/phenotype/HOGAN.ppt" "https://buffalo.box.com/shared/static/fg8hx4tq3nbxdb5soabacbnlxo6nn1pv.ppt"
Redirect 301 "/08/phenotype/KARP.ppt" "https://buffalo.box.com/shared/static/pw8kmmjvinww357nuh4u7fr8n1iqlje1.ppt"
Redirect 301 "/08/phenotype/karp.ppt" "https://buffalo.box.com/shared/static/pw8kmmjvinww357nuh4u7fr8n1iqlje1.ppt"
Redirect 301 "/08/phenotype/KISLER-WALKER.ppt" "https://buffalo.box.com/shared/static/h533k3j84634u3jz178p9p52cxux1r7s.ppt"
Redirect 301 "/08/phenotype/LEWIS.ppt" "https://buffalo.box.com/shared/static/b21bxl68oedjqh9469nvuq3wlzsbmy8q.ppt"
Redirect 301 "/08/phenotype/photo.JPG" "https://buffalo.box.com/shared/static/hcc67sqmwru1m50mzl8lhwz4c0mntin5.jpg"
Redirect 301 "/08/phenotype/SPACKMAN.ppt" "https://buffalo.box.com/shared/static/ievggf8gf3rsqfarjy8tjazaagnfnhor.ppt"
Redirect 301 "/08/Tokyo/bittner.pdf" "https://buffalo.box.com/shared/static/5y40ozrrfbtpl7pf3cu3efibfqlltmk2.pdf"
Redirect 301 "/08/Tokyo/guarino.ppt" "/08/Tokyo/Guarino.ppt"
Redirect 301 "/08/Tokyo/lin.ppt" "https://buffalo.box.com/shared/static/2r0m5uwnn9kres2vrlknw2nlo30jafzj.ppt"
Redirect 301 "/08/Tokyo/mizoguchi.ppt" "https://buffalo.box.com/shared/static/0shq0datwby48xinqjsvaaoq1xdn6w5o.ppt"
Redirect 301 "/08/Tokyo/newman.pdf" "/08/Tokyo/Newman.pdf"
Redirect 301 "/08/Tokyo/ruttenberg.ppt" "https://buffalo.box.com/shared/static/257ax7alesu5zn04sjuqg4at7ncu58ny.ppt"
Redirect 301 "/08/Tokyo/smith.ppt" "https://buffalo.box.com/shared/static/6n84k5ce1bzbxjhxyo811tp7rb53c5dl.ppt"