# 301 Redirects to retain old URLs
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Ali.pptx" "https://buffalo.box.com/shared/static/ej18028q1t2xfgh44y9cs283lhi98lgk.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Blaisure.pptx" "https://buffalo.box.com/shared/static/3nuctk80lemju43aan4cv8a5luukie91.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Borsotti.pptx" "https://buffalo.box.com/shared/static/55tofod8azn3v8bu2s2h4tkjobg18uiw.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Bosinski.pptx" "https://buffalo.box.com/shared/static/rq3ttwplsvm32sdabwgv96zqdze166kd.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Burke.pptx" "https://buffalo.box.com/shared/static/up353l1zo2isg3gun56rf15lxzua11wm.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Farinelli.pptx" "https://buffalo.box.com/shared/static/ql884tz960844dbdsyvab02da8prnqjj.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Franda.pptx" "https://buffalo.box.com/shared/static/e7a7huzb4w4t3kfrjlxjub8h94w54l0l.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Hudson.pptx" "https://buffalo.box.com/shared/static/ukl9m6a01vq6redoq06vqav4auco8bxi.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Luan.pptx" "https://buffalo.box.com/shared/static/25hw7d1m2voj9wmbzl926eop3frtd1fy.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Mullin.pdf" "https://buffalo.box.com/shared/static/8yoaumpnvaefs43pdn5ue6c6t35l2dri.pdf"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Murphy.pptx" "https://buffalo.box.com/shared/static/77jwn3a2wth78jp9npkznvqd5lly0lnu.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/QZhang.pptx" "https://buffalo.box.com/shared/static/py1ihgxnjc94jfb2ex3lshbdx13xlk9h.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Ruoyu.pptx" "https://buffalo.box.com/shared/static/tw3y8jzqt9crz6dbcjcljf2wqasc92xh.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Schuler.pptx" "https://buffalo.box.com/shared/static/h3e2p6cmxxpo4d6i4pgomqwqyamgh58z.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Videos/ali.mp4" "https://buffalo.box.com/shared/static/3yajfu60xyys1nhqk0ovzl9qgroykbxm.mp4"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Videos/Blaisure.mp4" "https://buffalo.box.com/shared/static/jmxnwb9mcr90gum33xtkhlr441twdjvj.mp4"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Videos/Borsotti.mp4" "https://buffalo.box.com/shared/static/lqp12ce0779pwwm08g84v0zb5kyw6llw.mp4"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Videos/Bosinski.mp4" "https://buffalo.box.com/shared/static/yet5o0hrg6b3gmcktftcmnoic0iskkdb.mp4"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Videos/Burke.mp4" "https://buffalo.box.com/shared/static/yp2o8ebyug65ei42pg676nzinxa0as8d.mp4"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Videos/Farinelli.mp4" "https://buffalo.box.com/shared/static/8j1bgeba3z1vfcmedsb96ebktpfhrm5y.mp4"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Videos/Franda.mp4" "https://buffalo.box.com/shared/static/rfb10166lhrsrx1lev5juodaemb4d30o.mp4"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Videos/Mullin.mp4" "https://buffalo.box.com/shared/static/mc7sba2gk1n7id0h5qbap8p9b68b0qbs.mp4"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Videos/Murphy.mp4" "https://buffalo.box.com/shared/static/kfimoz84yjvb03re9ykdrwphi5jwbapl.mp4"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Videos/QZhang.mp4" "https://buffalo.box.com/shared/static/cdzd5i73nij4wobrsd0ze8s7btx1t6zg.mp4"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Videos/Ruoyu.mp4" "https://buffalo.box.com/shared/static/83pjuqm8zypz0k11biigmmp2j0a1qhot.mp4"
Redirect 301 "/smith/courses16/Biomedical_Ontology/Presentations/Videos/Schuler.mp4" "https://buffalo.box.com/shared/static/maikyh51tcl541e2zld22t31uw3f2bqc.mp4"
Redirect 301 "/smith/courses16/Biomedical_Ontology/slide-1.pptx" "https://buffalo.box.com/shared/static/4attatpuokbhjzg5quaxu3zxly1nri90.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/slide-2.pptx" "https://buffalo.box.com/shared/static/dhmi2lhxhde5kbt4wfejf52z5a403px0.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/slide-3-part1.pptx" "https://buffalo.box.com/shared/static/3vtk9rz061saxy4r46yp23xefhgfsw23.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/slide-3-part2.pptx" "https://buffalo.box.com/shared/static/oih5by2ijeikwxx6zr5l20cvnv6ngcgl.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/slide-4.pdf" "https://buffalo.box.com/shared/static/uvzpmey7ao4nr3zy3fcxelk2q1xnpdvr.pdf"
Redirect 301 "/smith/courses16/Biomedical_Ontology/slide-5.pdf" "https://buffalo.box.com/shared/static/cray9yl62de2ok2kheg5k98z91om2e5i.pdf"
Redirect 301 "/smith/courses16/Biomedical_Ontology/slide-6-part1.pptx" "https://buffalo.box.com/shared/static/g0f4syyqta33ybv0nfiyzttapo8g28dd.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/slide-6-part2.pptx" "https://buffalo.box.com/shared/static/n209gdhz1vx48rbgp65kmc3pq7do7h7e.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/slide-7-part1.pptx" "https://buffalo.box.com/shared/static/7lmifooukrci040abfo6letn1pbs379b.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/slide-7-part2.pdf" "https://buffalo.box.com/shared/static/hhx7ht7ub23r8nxyle2xioeg481vh1iv.pdf"
Redirect 301 "/smith/courses16/Biomedical_Ontology/slide-8.pptx" "https://buffalo.box.com/shared/static/t2air8931g4p1zuv064ktrygj9b2uryo.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/slide-9.pptx" "https://buffalo.box.com/shared/static/bsapquoluawdd5vsssmz1kgmq63gibz6.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/slide-10.pptx" "https://buffalo.box.com/shared/static/6bjewsmvdvnrkm3x8a8l2gdzm3rax4za.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/slide-11-part1.pptx" "https://buffalo.box.com/shared/static/0usgkuoyf4vqjoq7woky2sfweqnmk07f.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/slide-11-part2.pptx" "https://buffalo.box.com/shared/static/v5c5jv96qplco0pqpeq2xgxo00se4w6r.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/slide-12-part1.pptx" "https://buffalo.box.com/shared/static/r6vx258gi40yhyksr18cyiqk6gzhpz4h.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/slide-12-part2.pptx" "https://buffalo.box.com/shared/static/bsmtu8iyjk0waiqj9z8csqkgw0saji3y.pptx"
Redirect 301 "/smith/courses16/Biomedical_Ontology/slide-12-part3.pdf" "https://buffalo.box.com/shared/static/bkaxwn2l8hnu375h175lzxbbu3k4wv9q.pdf"