# 301 Redirects to retain old URLs
Redirect 301 "/06/POB/Bechtel.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Bechtel.pdf"
Redirect 301 "/06/POB/smith.ppt" "http://www.acsu.buffalo.edu/~ontdocs/smith-06.ppt"
Redirect 301 "/06/POB/goldberg.ppt" "http://www.acsu.buffalo.edu/~ontdocs/goldberg.ppt"
Redirect 301 "/06/POB/Johansson.ppt" "http://www.acsu.buffalo.edu/~ontdocs/Johansson.ppt"
Redirect 301 "/06/POB/Fetzer.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Fetzer.pdf"
Redirect 301 "/06/POB/Hotels.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Hotels.pdf"
Redirect 301 "/06/POB/Presentations.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Presentations.pdf"
Redirect 301 "/06/POB/Registration.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Registration.pdf"
Redirect 301 "/06/POB/Registration10-28.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Registration10-28.pdf"
Redirect 301 "/06/POB/Program.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Program.pdf"
Redirect 301 "/06/POB/Fetzer.ppt" "http://www.acsu.buffalo.edu/~ontdocs/Fetzer.ppt"
Redirect 301 "/06/POB/Program2.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Program2.pdf"
Redirect 301 "/06/POB/Poster.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Poster.pdf"
Redirect 301 "/06/POB/Poster2.pdf" "http://www.acsu.buffalo.edu/~ontdocs/Poster2.pdf"
