# 301 Redirects to retain old URLs
Redirect 301 "/smith/articles/acta.pdf" "https://buffalo.box.com/shared/static/kfte93odbgmz7au97uqyx60ji7qxv150.pdf"
Redirect 301 "/smith/articles/againstid.pdf" "https://buffalo.box.com/shared/static/e3ch9vocxdrvqeujfg9nvk8bb3oh4pc9.pdf"
Redirect 301 "/smith/articles/AOLP.pdf" "https://buffalo.box.com/shared/static/d4r0ypwf4zu9i33k4ovr4c36gc38e6dm.pdf"
Redirect 301 "/smith/articles/apriorism.pdf" "https://buffalo.box.com/shared/static/nxkq75bw3jgv7ikl8qafpmmfl1c4d078.pdf"
Redirect 301 "/smith/articles/Argos_Semantic_Interoperability.pdf" "https://buffalo.box.com/shared/static/fdl4ja191tnk3ji8h0jdzlv9ee5bivwb.pdf"
Redirect 301 "/smith/articles/Aristotle_Menger_Mises.pdf" "https://buffalo.box.com/shared/static/064xe34tvfi1hj77o844uoxmndwyyiii.pdf"
Redirect 301 "/smith/articles/Austrian_Philosophy.pdf" "https://buffalo.box.com/shared/static/prlj4qfog4luw4w672tbob5gmbpjedft.pdf"
Redirect 301 "/smith/articles/austrianness.pdf" "https://buffalo.box.com/shared/static/x5x7q5qh2khzrj7gmumr5nfw4k0bhrtz.pdf"
Redirect 301 "/smith/articles/Beyond-Paper.pdf" "https://buffalo.box.com/shared/static/w3zdxv0pqk0w1udgv7mkmj8pvmyh4nvd.pdf"
Redirect 301 "/smith/articles/Intro_Reinach.pdf" "https://buffalo.box.com/shared/static/yqcajughawqkpve5stdprzb8re38t68r.pdf"
Redirect 301 "/smith/articles/pieces.pdf" "https://buffalo.box.com/shared/static/bmw8vt1djwhucv772xm2zegxp9g92xe7.pdf"
Redirect 301 "/smith/articles/Characteristica-Universalis-Danish.pdf" "https://buffalo.box.com/shared/static/pgs6f1wrvhgv2zvx4xtf3emzaqbgc0gs.pdf"
Redirect 301 "/smith/articles/cognition_of_states_of_affairs.pdf" "https://buffalo.box.com/shared/static/v1v2r5i7jfn3itkc08d6d7r2w4z57v60.pdf"
Redirect 301 "/smith/articles/Crosstalk-Nov2012.pdf" "https://buffalo.box.com/shared/static/t97cdpt323nxten0h8uzmd04b9fuc792.pdf"
Redirect 301 "/smith/articles/Dalla-Psicologia.pdf" "https://buffalo.box.com/shared/static/auusm7d69akd6ilmbvvjtmrf2hj3ixjb.pdf"
Redirect 301 "/smith/articles/Deferenza-Testuale.pdf" "https://buffalo.box.com/shared/static/27514h1nktnx3clquvlrdxuopx5sdxbx.pdf"
Redirect 301 "/smith/articles/Derrida_Affair.pdf" "https://buffalo.box.com/shared/static/sjdrc4ee8eoeevge2vm2qyqzqw1035zk.pdf"
Redirect 301 "/smith/articles/Diagrammi.pdf" "https://buffalo.box.com/shared/static/3p7hkqg2op02i6f5a9axz5v0unjdxht0.pdf"
Redirect 301 "/smith/articles/Dlaczego.pdf" "https://buffalo.box.com/shared/static/ojh7q3wh0xkkcqy6q5jd4thomqekbnql.pdf"
Redirect 301 "/smith/articles/drawing.pdf" "https://buffalo.box.com/shared/static/pigx4byngx1vxza4qztedb4vtbhl1tht.pdf"
Redirect 301 "/smith/articles/Ehrenfels_Theory_of_Value.pdf" "https://buffalo.box.com/shared/static/x5ts0vhykie68fb7i60vyxhuf1zgjmrx.pdf"
Redirect 301 "/smith/articles/Einleitung.pdf" "https://buffalo.box.com/shared/static/96ar208xg7stb7omafdsy26oku8bskm1.pdf"
Redirect 301 "/smith/articles/Introduction.pdf" "https://buffalo.box.com/shared/static/tl91nlp7x6yx8eiqpgd7pj3862g4o21p.pdf"
Redirect 301 "/smith/articles/eruv.pdf" "https://buffalo.box.com/shared/static/w2d8q6mt1k1ruj1b7eh9zsjd8ukkejbn.pdf"
Redirect 301 "/smith/articles/evaluationofontologies.pdf" "https://buffalo.box.com/shared/static/ygwsou6y0o3xzwalals7y0emhnvwy7gj.pdf"
Redirect 301 "/smith/articles/Explications-verifactionnistes.pdf" "https://buffalo.box.com/shared/static/6mjt20nzc29b5wbhaju2ve0rfolk7449.pdf"
Redirect 301 "/smith/articles/Filozofia-austriacka.pdf" "https://buffalo.box.com/shared/static/8erqpm4qe99xqnz51mbptm0c6yua72vg.pdf"
Redirect 301 "/smith/articles/focscs.pdf" "https://buffalo.box.com/shared/static/dsy363v4cijgt44rjfixnrr708hewn0h.pdf"
Redirect 301 "/smith/articles/FregeHusserl.pdf" "https://buffalo.box.com/shared/static/i9gfcwwhzdps444wqjzwfs66d13l13b2.pdf"
Redirect 301 "/smith/articles/gestalt.pdf" "https://buffalo.box.com/shared/static/ihfxww5gy5qwslmo8d3pl2ll3sdtx8w8.pdf"
Redirect 301 "/smith/articles/Gestalten.pdf" "https://buffalo.box.com/shared/static/vi3oeukxfsvejb4zr90rdj9jsewfoke3.pdf"
Redirect 301 "/smith/articles/Gordon_review.pdf" "https://buffalo.box.com/shared/static/g6yzrrtty5q8ww3mrc350v2wpd4le7r9.pdf"
Redirect 301 "/smith/articles/Grenzen.pdf" "https://buffalo.box.com/shared/static/dwkbst9w4cdgeag5c8fpr4n1he70a7hb.pdf"
Redirect 301 "/smith/articles/GrundlegungApriorismus.pdf" "https://buffalo.box.com/shared/static/pcje4ziv0gigqmfae3rutv7uygzdvg0x.pdf"
Redirect 301 "/smith/articles/Hayek.pdf" "https://buffalo.box.com/shared/static/2dzuxqcnd7ldgmepyzqvo92279g71bxb.pdf"
Redirect 301 "/smith/articles/historicity.pdf" "https://buffalo.box.com/shared/static/cgzagkxxlqul48biaj9gvg1aqo47ksmi.pdf"
Redirect 301 "/smith/articles/hloa.pdf" "https://buffalo.box.com/shared/static/dzxd37rst11fiatnzr7hlc7mpndcogo2.pdf"
Redirect 301 "/smith/articles/how_not_to_talk.pdf" "https://buffalo.box.com/shared/static/aubuiqda8cwk34we4wj6be9licxjktk1.pdf"
Redirect 301 "/smith/articles/hume-reinach-searle.pdf" "https://buffalo.box.com/shared/static/nlvwbrwhhr7294ikvmb745gk83zogv3i.pdf"
Redirect 301 "/smith/articles/husserl-briefwechsel.pdf" "https://buffalo.box.com/shared/static/615ekqv8x3xnixpfyte6s42dc2e94qj5.pdf"
Redirect 301 "/smith/articles/Husserlian-Ecology.pdf" "https://buffalo.box.com/shared/static/4r6ykj5d3sawlltdfkgs4nj40vjtiiwy.pdf"
Redirect 301 "/smith/articles/Husserlian-Ecology-Japanese.pdf" "https://buffalo.box.com/shared/static/7cxh7o0f0id37k3o019lf11e9153lzvf.pdf"
Redirect 301 "/smith/articles/In-Defense.pdf" "https://buffalo.box.com/shared/static/balntelvdfsvk29axa41hxci3b93kpxz.pdf"
Redirect 301 "/smith/articles/Informatica.pdf" "https://buffalo.box.com/shared/static/mhbm2v7hddf41y0k4ggv510oz2fdzb2h.pdf"
Redirect 301 "/smith/articles/Ingarden-1979.pdf" "https://buffalo.box.com/shared/static/yiert9fe1i25vdzfuj0jbzz3ntidqec4.pdf"
Redirect 301 "/smith/articles/Ingarden-Literary-Work-of-Art.pdf" "https://buffalo.box.com/shared/static/hxirqrti0ypldbsd9xcukq48ywhp6ou9.pdf"
Redirect 301 "/smith/articles/Ingarden-Meinong.pdf" "https://buffalo.box.com/shared/static/vdv2icoxe846oyeh0tj047qr76pv1f7w.pdf"
Redirect 301 "/smith/articles/IngardenvsMeinong.pdf" "https://buffalo.box.com/shared/static/w02f437fla0lxjvc6q49hzmrpet3qk74.pdf"
Redirect 301 "/smith/articles/It.pdf" "https://buffalo.box.com/shared/static/qkoi56ie3lwnumoww7ashyufm2zjjcz9.pdf"
Redirect 301 "/smith/articles/Klein-Smith-Japanese.pdf" "https://buffalo.box.com/shared/static/duupbwzumco8unzk6fmt585kvwn76kjo.pdf"
Redirect 301 "/smith/articles/La_physique_naive.pdf" "https://buffalo.box.com/shared/static/ny7ap39tion2t75yyujcv2tbc3yfl7sz.pdf"
Redirect 301 "/smith/articles/La-signification-de-la-vie.pdf" "https://buffalo.box.com/shared/static/l26bzvzx1afjdl3ogsq3chh423r2yfvl.pdf"
Redirect 301 "/smith/articles/La-Verita.pdf" "https://buffalo.box.com/shared/static/osp1a5mxnz4qm4v3ivsbrv4sv0yubzq8.pdf"
Redirect 301 "/smith/articles/l'ontologia.pdf" "https://buffalo.box.com/shared/static/ws64tetub0jug0490cox4t36x44xlz7b.pdf"
Redirect 301 "/smith/articles/L'ontologie.pdf" "https://buffalo.box.com/shared/static/mytjxmdledjb8tqkh15vgsc7razb6qtu.pdf"
Redirect 301 "/smith/articles/mach/mach.pdf" "https://buffalo.box.com/shared/static/7fk9vl7cqa573o4ys1s7nqpzwl33c5iz.pdf"
Redirect 301 "/smith/articles/Marty-Elemente.pdf" "https://buffalo.box.com/shared/static/o73naprzdtebdin3xflc0rboxnhi8vb5.pdf"
Redirect 301 "/smith/articles/Matematyka-estetyka-Ingardena.pdf" "https://buffalo.box.com/shared/static/md8jla6vy3qxniqw1gmxsgyee4786w5d.pdf"
Redirect 301 "/smith/articles/Meinen-und-Vorstellen.pdf" "https://buffalo.box.com/shared/static/exzpds5ansuqjmbscipijtosojv4h7c9.pdf"
Redirect 301 "/smith/articles/modification-du-sentiment.pdf" "https://buffalo.box.com/shared/static/nrbfacbl6kt4c9q57a2uy4m9a5ok9nbg.pdf"
Redirect 301 "/smith/articles/nationalismes.pdf" "https://buffalo.box.com/shared/static/a9s7i3ggvhxgtopl8yx5wmfibhx4hibf.pdf"
Redirect 301 "/smith/articles/NCBO_Software_ICBO_2011.pdf" "https://buffalo.box.com/shared/static/k6888bah5n24n8pucfquk10rop08i1wf.pdf"
Redirect 301 "/smith/articles/Nichtuebersetzbarkeit.pdf" "https://buffalo.box.com/shared/static/quz6ksj8goy04w2sopbncan9w8kaku69.pdf"
Redirect 301 "/smith/articles/NyiriFS.pdf" "https://buffalo.box.com/shared/static/njbvai4zzezqnkcla6itx2rbdlzgsupx.pdf"
Redirect 301 "/smith/articles/Obiektywnosc.pdf" "https://buffalo.box.com/shared/static/9bshwhy4q54awl7vim5gi8h5qq6vkhv4.pdf"
Redirect 301 "/smith/articles/OnLuck.pdf" "https://buffalo.box.com/shared/static/b7853omby6wx328mtnscsuts8o7tysu2.pdf"
Redirect 301 "/smith/articles/Ontogenesis.pdf" "https://buffalo.box.com/shared/static/870u5nrdhaiakq8fs0ihw7ts35a3oyov.pdf"
Redirect 301 "/smith/articles/Ontologie_des_Embryos.pdf" "https://buffalo.box.com/shared/static/hjaerpguci8jwxmkts902buvbv48fshu.pdf"
Redirect 301 "/smith/articles/Ontologische_Aspekte.pdf" "https://buffalo.box.com/shared/static/no52ba59bt3ry3z5vuwrztz5gs2ig5lk.pdf"
Redirect 301 "/smith/articles/Ontology_of_Common_Sense.pdf" "https://buffalo.box.com/shared/static/gagrbhcixvv1ti9zlfwo2iuj22e00o44.pdf"
Redirect 301 "/smith/articles/Phaenomenologie-und-angelsaechsische-Philosophie.pdf" "https://buffalo.box.com/shared/static/21vjqe3i9bzzweoa6dr9rq1drp6vzojd.pdf"
Redirect 301 "/smith/articles/Philosophie_scientifique.pdf" "https://buffalo.box.com/shared/static/jysvuagcas27dvvki2pumeybni04ouok.pdf"
Redirect 301 "/smith/articles/Philosophieren.pdf" "https://buffalo.box.com/shared/static/5vcwz1frw1fbdhjesgujddo0fg3z1fnu.pdf"
Redirect 301 "/smith/articles/pieces-of-a-theory.pdf" "https://buffalo.box.com/shared/static/c61zvf6yz9mjp4aiemplq1jg7zxo15wo.pdf"
Redirect 301 "/smith/articles/PracticesofArt.pdf" "https://buffalo.box.com/shared/static/vodstx67uouwzvsqkyrpq7h5ldirutfk.pdf"
Redirect 301 "/smith/articles/PrimacyofPlace.pdf" "https://buffalo.box.com/shared/static/hoj89my25lwjdfij0cv9s8xn6c1hkq5f.pdf"
Redirect 301 "/smith/articles/Process-Descriptions.pdf" "https://buffalo.box.com/shared/static/5tdu431iy5r0c52reodx8ln78rie4rtt.pdf"
Redirect 301 "/smith/articles/Production_of_Ideas.pdf" "https://buffalo.box.com/shared/static/kmiw42e9cjw3wz5nfmg2yqw8j3jduiqw.pdf"
Redirect 301 "/smith/articles/Putting_the_World.pdf" "https://buffalo.box.com/shared/static/yf08e9emyzlxzlzjhzwr11za207d06d7.pdf"
Redirect 301 "/smith/articles/Quantitative-Histopathology-Image-Ontology.pdf" "https://buffalo.box.com/shared/static/dz5e83pje5uls1ofryw00w2y7j4ckt96.pdf"
Redirect 301 "/smith/articles/reid.PDF" "https://buffalo.box.com/shared/static/ezeyr0poxte3n46nf71bwi6udy7vyli5.pdf"
Redirect 301 "/smith/articles/Reinach-fondazione.pdf" "https://buffalo.box.com/shared/static/rwm3dy0ebmry31jy3z753bce7bdqiesn.pdf"
Redirect 301 "/smith/articles/Review-of-Chisholm-and-Haller.pdf" "https://buffalo.box.com/shared/static/rp4i896eswgc2ckle0v1ph5szlgiy923.pdf"
Redirect 301 "/smith/articles/Revista-de-filosofie.pdf" "https://buffalo.box.com/shared/static/2a44w5wjm9tn5gq7xno6koxe3sy4pqmz.pdf"
Redirect 301 "/smith/articles/Sachverhalt_HWP.pdf" "https://buffalo.box.com/shared/static/nxwn22nen3ioate4cd0gq1zvetmidior.pdf"
Redirect 301 "/smith/articles/Sachverhalt-1988.pdf" "https://buffalo.box.com/shared/static/nq62tkdkrrjnajt5j7gd9v1zjmp6oox7.pdf"
Redirect 301 "/smith/articles/Sachverhalt-1988-Eng.pdf" "https://buffalo.box.com/shared/static/3gctmjzcfae1szwhbrq0posj5n9cvisc.pdf"
Redirect 301 "/smith/articles/Searle-Od-Aktow.pdf" "https://buffalo.box.com/shared/static/zab97q7q11cu7v4nffh2u7ka5nhd7ov5.pdf"
Redirect 301 "/smith/articles/sechzehn_tage.pdf" "https://buffalo.box.com/shared/static/knp467zn1c8ckbmkf1uxvcqu2cyodq0a.pdf"
Redirect 301 "/smith/articles/Semantic_Reasoning_Framework.pdf" "https://buffalo.box.com/shared/static/tdcvtripe678l920e2cpe16qvzb11xqi.pdf"
Redirect 301 "/smith/articles/Signalling.pdf" "https://buffalo.box.com/shared/static/2ksnurqizt91b4sn1qvif6szhw7w24l3.pdf"
Redirect 301 "/smith/articles/smith-per-una-storia.pdf" "https://buffalo.box.com/shared/static/jk75qbu5va4j1k3aq23re856u16v6hvd.pdf"
Redirect 301 "/smith/articles/Sprachspiel.pdf" "https://buffalo.box.com/shared/static/0efra6e9bhrgk3wxhuek7ek2q9papxu5.pdf"
Redirect 301 "/smith/articles/structures-of-common-sense.pdf" "https://buffalo.box.com/shared/static/ombahacognmq7940q2jql5tb1m4rb53a.pdf"
Redirect 301 "/smith/articles/strutture-del-mondo.pdf" "https://buffalo.box.com/shared/static/z7y7et2pb5ep4ji9k8u6b98c78hob0pj.pdf"
Redirect 301 "/smith/articles/Substanz_und_Funktion.pdf" "https://buffalo.box.com/shared/static/u4x2t68dnz94m3q6m2nzkm3f5sl8fhxk.pdf"
Redirect 301 "/smith/articles/TenConditions.pdf" "https://buffalo.box.com/shared/static/hw2q45aziy9qkzoc3x6kyd9tn1y4jhxh.pdf"
Redirect 301 "/smith/articles/Teoria.pdf" "https://buffalo.box.com/shared/static/ftwe6yz1fk3t03suz3xe5tc708dmobm4.pdf"
Redirect 301 "/smith/articles/Textlig-aerbodighed.pdf" "https://buffalo.box.com/shared/static/hw1a7etfzhqaeboi3u1knm4hwt24hr3e.pdf"
Redirect 301 "/smith/articles/Theorie_de_la_verite.pdf" "https://buffalo.box.com/shared/static/uw8ak68sfrmou21kjhs3h214ek7pm1b9.pdf"
Redirect 301 "/smith/articles/Theories_of_Judgment.pdf" "https://buffalo.box.com/shared/static/c9rvpwwewzohl41aikrxicf1va5zmg4l.pdf"
Redirect 301 "/smith/articles/truth_visual_field.pdf" "https://buffalo.box.com/shared/static/60nzkq0tajw5cxdw8wtjy4evvcvek84d.pdf"
Redirect 301 "/smith/articles/tugendhat.pdf" "https://buffalo.box.com/shared/static/h7mjkvxbii866amw8crdvf9dp19cabsh.pdf"
Redirect 301 "/smith/articles/Urteilstheorien.pdf" "https://buffalo.box.com/shared/static/d9b5i2izjesnehj99sznr1c0840p9own.pdf"
Redirect 301 "/smith/articles/visceral-values-smith-korsmeyer.pdf" "https://buffalo.box.com/shared/static/gaal8vw6m21b22pbowfq6t1y5lys0pdw.pdf"
Redirect 301 "/smith/articles/truthmakers/Wahrmacher.pdf" "https://buffalo.box.com/shared/static/7t35j292ii25lb79z1feulufo7ryus0s.pdf"
Redirect 301 "/smith/articles/WITASEK.pdf" "https://buffalo.box.com/shared/static/jg7nuo71ovzfyj3kqo4i822hvcxqa7rx.pdf"
Redirect 301 "/smith/articles/Wittgenstein_1977.pdf" "https://buffalo.box.com/shared/static/1epsztyesorpx7ybcvgco62ify7gij9r.pdf"
Redirect 301 "/smith/articles/Wittgenstein-commentaries.pdf" "https://buffalo.box.com/shared/static/8s6qa9lkqn5vff3q3t5uoo3or21o1dkh.pdf"
Redirect 301 "/smith/articles/ZaibertSmith.pdf" "https://buffalo.box.com/shared/static/2jq5ajmqp3nd694oa7zqm715f2b09cmf.pdf"
Redirect 301 "/smith/articles/Zum-Wesen-des-Common-sense.pdf" "https://buffalo.box.com/shared/static/xzkowcod2lkygfbyiib24g7yp7q49t4n.pdf"
Redirect 301 "/smith/articles/PRO_Software_ICBO_2011.pdf" "https://buffalo.box.com/shared/static/3qq5chte9qh22t3q9v6839pnkzwizmzo.pdf"
Redirect 301 "/smith/articles/territorial-disputes-stids-2014.pdf" "https://buffalo.box.com/shared/static/lsyauw3bhas6468arxyjo9rznrrrjo7t.pdf"
Redirect 301 "/smith/articles/logica.pdf" "https://buffalo.box.com/shared/static/480yb814x8gg9l9ck0vkwqltcpq99fg3.pdf"
Redirect 301 "/smith/articles/Tallando.pdf" "https://buffalo.box.com/shared/static/hjpyck9ubmijd4qx7kmgii3sm04ruwmc.pdf"
Redirect 301 "/smith/articles/Puntel.pdf" "https://buffalo.box.com/shared/static/pc1qb8lgvjbntwo0kdn5labianhc14ys.pdf"
Redirect 301 "/smith/articles/Nagl-Docekal-Response.pdf" "https://buffalo.box.com/shared/static/ujgdjj3ef73qjrxie5wzaf88cgfzaxo2.pdf"
Redirect 301 "/smith/articles/EinFO.pdf" "https://buffalo.box.com/shared/static/y2lilouv1akle704n09r37zguisu4js0.pdf"
Redirect 301 "/smith/articles/fiat_spatial.pdf" "https://buffalo.box.com/shared/static/rg71wah04esngo6hics9nce0uc737zwt.pdf"
Redirect 301 "/smith/articles/drei_briten.pdf" "https://buffalo.box.com/shared/static/ur36yp57dn4pp3my8xfs6gid3c3wilb4.pdf"
Redirect 301 "/smith/articles/AEAP.pdf" "https://buffalo.box.com/shared/static/s63pxw1y0sij56go7pk2jrbfjnrmd618.pdf"
Redirect 301 "/smith/articles/charuniv.pdf" "https://buffalo.box.com/shared/static/o94qx2k9tbz5qaklerywebg4801dmawj.pdf"
Redirect 301 "/smith/articles/Zalai-Bela-Metafizikaja.pdf" "https://buffalo.box.com/shared/static/j20kq1aqiz4rq3dv5diidshzvi2lqp0k.pdf"
Redirect 301 "/smith/articles/Philosophy_and_Feminist_Politics.pdf" "https://buffalo.box.com/shared/static/ta43rfapugaogq9ikbg9b2ft9phnnnab.pdf"
Redirect 301 "/smith/articles/Acts_1983.pdf" "https://buffalo.box.com/shared/static/sy5iqmev63j072hkb2dp460xwcfrllwy.pdf"
Redirect 301 "/smith/articles/BFO_for_bioinformatics.pdf" "https://buffalo.box.com/shared/static/fv7x6modwm23559gst6v20tu3xjqalge.pdf"
Redirect 301 "/smith/articles/Brentano'sOntology.pdf" "https://buffalo.box.com/shared/static/eucu1h5lmanm0ger7qnt82cfljzzmq3i.pdf"
Redirect 301 "/smith/articles/COSIT99(MST).pdf" "https://buffalo.box.com/shared/static/xbgt5xys0k1xhnlvb1ol8d8q7n85fkwd.pdf"