# 301 Redirects to retain old URLs
Redirect 301 "/smith/articles/Videos.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/Videos.pdf"
Redirect 301 "/smith/articles/ICBO_2016_OntoNeo.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/ICBO_2016_OntoNeo.pdf"
Redirect 301 "/smith/articles/Grenzen.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/Grenzen.pdf"
Redirect 301 "/smith/articles/Searle-Od-Aktow.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/Searle-Od-Aktow.pdf"
Redirect 301 "/smith/articles/objets_.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/objets_.pdf"
Redirect 301 "/smith/articles/Urteilstheorien.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/Urteilstheorien.pdf"
Redirect 301 "/smith/articles/pieces-of-a-theory.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/pieces-of-a-theory.pdf"
Redirect 301 "/smith/articles/WITASEK.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/WITASEK.pdf"
Redirect 301 "/smith/articles/Sachverhalt-1988.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/Sachverhalt-1988.pdf"
Redirect 301 "/smith/articles/l'ontologia.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/l'ontologia.pdf"
Redirect 301 "/smith/articles/Sachverhalt_HWP.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/Sachverhalt_HWP.pdf"
Redirect 301 "/smith/articles/Hayek.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/Hayek.pdf"
Redirect 301 "/smith/articles/Zum-Wesen-des-Common-sense.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/Zum-Wesen-des-Common-sense.pdf"
Redirect 301 "/smith/articles/nationalismes.PDF" "http://www.acsu.buffalo.edu/~ontdocs/articles/nationalismes.PDF"
Redirect 301 "/smith/articles/Sachverhalt-1988-Eng.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/Sachverhalt-1988-Eng.pdf"
Redirect 301 "/smith/articles/pieces.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/pieces.pdf"
Redirect 301 "/smith/articles/Theorie_de_la_Verite.PDF" "http://www.acsu.buffalo.edu/~ontdocs/articles/Theorie_de_la_Verite.PDF"
Redirect 301 "/smith/articles/historicity.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/historicity.pdf"
Redirect 301 "/smith/articles/truth_visual_field.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/truth_visual_field.pdf"
Redirect 301 "/smith/articles/Ingarden - On The Ontology Of Relations.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/Ingarden - On The Ontology Of Relations.pdf"
Redirect 301 "/smith/articles/Tugendhat.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/Tugendhat.pdf"
Redirect 301 "/smith/articles/Phaenomenologie-und-angelsaechsische-Philosophie.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/Phaenomenologie-und-angelsaechsische-Philosophie.pdf"
Redirect 301 "/smith/articles/Informatica.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/Informatica.pdf"
Redirect 301 "/smith/articles/Knowing-how.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/Knowing-how.pdf"
Redirect 301 "/smith/articles/Theories_of_Judgment.pdf" "http://www.acsu.buffalo.edu/~ontdocs/articles/Theories_of_Judgment.pdf"
