# 301 Redirects to retain old URLs
Redirect 301 "/05/wg6/mccray.ppt" "https://buffalo.box.com/shared/static/ermnu39r2h7ypyv1qvdyumg9ph492073.ppt"
Redirect 301 "/05/wg6/johansson.ppt" "https://buffalo.box.com/shared/static/7h56mukd8dhav0k1z2w9u0horyog9fb0.ppt"
Redirect 301 "/05/wg6/smith.ppt" "https://buffalo.box.com/s/8l9tf45bd6eljpskc3usqslgt7nb57rc"
Redirect 301 "/05/wg6/cimino.ppt" "https://buffalo.box.com/shared/static/k18aa4egct6613kptg29di3lahajzbi2.ppt"
Redirect 301 "/05/wg6/rosse.ppt" "https://buffalo.box.com/shared/static/lp6d42whwh1nwa3s13tcjrjnjvf1pnjg.ppt"
Redirect 301 "/05/wg6/burgun.ppt" "https://buffalo.box.com/shared/static/nmxvqci86smh5k9js2uh5i03s69ix9t9.ppt"
Redirect 301 "/05/wg6/surjan.ppt" "https://buffalo.box.com/shared/static/cae6zb74t1f37nmu9kylyiilvtdgu0xf.ppt"
Redirect 301 "/05/wg6/stevens.ppt" "https://buffalo.box.com/shared/static/0o6y9ln9h0nvlqgvqeovmrcop494saby.ppt"
Redirect 301 "/05/wg6/huff.ppt" "https://buffalo.box.com/shared/static/of4peymxkhc2e1ltu1jfs9rl833s8iyt.ppt"
Redirect 301 "/05/wg6/bodenreider.ppt" "https://buffalo.box.com/shared/static/4ejglxze45udt3hnyz7trq4itxdji8uo.ppt"
Redirect 301 "/05/wg6/baud.ppt" "https://buffalo.box.com/shared/static/2yu9k5hbi4brhev609tuynirmtpgfruj.ppt"
Redirect 301 "/05/wg6/fellbaum.ppt" "https://buffalo.box.com/shared/static/4rkhzaaeuhxf78b8tmfmthtpvm6twhz7.ppt"
Redirect 301 "/05/wg6/hahn.ppt" "https://buffalo.box.com/shared/static/ajg30w207bdy9x6fkzknqv0d77c5i4e5.ppt"
Redirect 301 "/05/wg6/rector.ppt" "https://buffalo.box.com/shared/static/dyzwlg7vpd747a9f0s97waedl1t7l980.ppt"
Redirect 301 "/05/wg6/bittner.ppt" "https://buffalo.box.com/shared/static/9tgqcoedfzsefi2pm2eu5uaojjn9cscq.ppt"
Redirect 301 "/05/wg6/pisanelli.ppt" "https://buffalo.box.com/shared/static/nck59zaydsxucztuueozah9kh6cssnmd.ppt"
Redirect 301 "/05/wg6/rogers.ppt" "https://buffalo.box.com/shared/static/t4co425d8wlcgwpt6uystb63mu3c5vol.ppt"
Redirect 301 "/05/wg6/ceusters.ppt" "https://buffalo.box.com/shared/static/ys3tff37xe89g67zxaq3xxy4c19hwvrt.ppt"
Redirect 301 "/05/wg6/rodrigues.ppt" "https://buffalo.box.com/shared/static/cgpb0cdwjmq5a90hkg01nv08o854i7zr.ppt"
Redirect 301 "/05/wg6/schulz.ppt" "https://buffalo.box.com/shared/static/ny5b27otyj5j8rf6ptcsyegv7fbi3qjl.ppt"
Redirect 301 "/05/wg6/kumar.ppt" "https://buffalo.box.com/shared/static/fuqyzqwl5qg3th9eg3lv6jhljkzs7itc.ppt"
Redirect 301 "/05/wg6/musen.ppt" "https://buffalo.box.com/shared/static/pz4hff9tjn0lxnup3mhugj3vjkjt67ly.ppt"
Redirect 301 "/05/wg6/blake.pdf" "https://buffalo.box.com/shared/static/drfeslduajmgviwy3f600o0g0zn2fwd2.pdf"
Redirect 301 "/05/wg6/chute.pdf" "https://buffalo.box.com/shared/static/fwvfwmd17y7xstbbayzqwokqp9vtrwwe.pdf"