# 301 Redirects to retain old URLs
Redirect 301 "/05/wg6/stevens.ppt" "http://www.acsu.buffalo.edu/~ontdocs/stevens.ppt"
Redirect 301 "/05/wg6/baud.ppt" "http://www.acsu.buffalo.edu/~ontdocs/baud.ppt"
Redirect 301 "/05/wg6/johansson.ppt" "http://www.acsu.buffalo.edu/~ontdocs/johansson-05.ppt"
Redirect 301 "/05/wg6/bodenreider.ppt" "http://www.acsu.buffalo.edu/~ontdocs/bodenreider.ppt"
Redirect 301 "/05/wg6/zweigenbaum.pdf" "http://www.acsu.buffalo.edu/~ontdocs/zweigenbaum.pdf"
Redirect 301 "/05/wg6/bittner.ppt" "http://www.acsu.buffalo.edu/~ontdocs/bittner.ppt"
Redirect 301 "/05/wg6/burgun.ppt" "http://www.acsu.buffalo.edu/~ontdocs/burgun.ppt"
Redirect 301 "/05/wg6/wg6.doc" "http://www.acsu.buffalo.edu/~ontdocs/wg6.doc"
Redirect 301 "/05/wg6/huff.ppt" "http://www.acsu.buffalo.edu/~ontdocs/huff.ppt"
Redirect 301 "/05/wg6/rodrigues.ppt" "http://www.acsu.buffalo.edu/~ontdocs/rodrigues.ppt"
Redirect 301 "/05/wg6/hahn.ppt" "http://www.acsu.buffalo.edu/~ontdocs/hahn.ppt"
Redirect 301 "/05/wg6/cimino.ppt" "http://www.acsu.buffalo.edu/~ontdocs/cimino.ppt"
Redirect 301 "/05/wg6/Fellbaum.ppt" "http://www.acsu.buffalo.edu/~ontdocs/Fellbaum.ppt"
